.app-reportsetting-addlayer-hd {
	height: 40px;
	display: block;
	background: #888888;
	color: #ffffff;
	font-size: 13px;
	line-height: 40px;
	text-indent: 20px;
	border: 1px solid #f0f0f0;
}
.app-reportsetting-addlayer-bd {
	padding: 20px 36px 16px 50px;
}
.app-reportsetting-addlayer-bd .parent-node, .app-reportsetting-addlayer-bd .cur-node {
	height: 38px;
	margin-bottom: 21px;
}
.app-reportsetting-addlayer-bd .lbl {
	display: inline-block;
	width: 58px;
	text-align: right;
	line-height: 38px;
	height: 38px;
	color: #333;
	font-size: 14px;
}
.app-reportsetting-addlayer-bd .content {	
	display: inline-block;
	width: 204px;
}
.app-reportsetting-addlayer-bd .content input {
	width: 220px;
	height: 24px;
	padding: 6px 9px;
	line-height: 24px;
	border: 1px solid #D8D8D8;
}
.app-reportsetting-addlayer-bd .content .ipt-parent-node.disabled {
	border: none;
	background: #FFF;
}
.app-reportsetting-addlayer-bd .opts-ctner {
	height: 30px;
	text-align: right;
}
.app-reportsetting-addlayer-bd .opts-ctner a {	
	width: 84px;
	height: 30px;
	display: inline-block;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	margin-left: 19px;
	border-radius: 3px;
}
.app-reportsetting-addlayer-bd .opts-ctner a.btn-ok {
	color: #FFF;
	background: #4682EA;
}
.app-reportsetting-addlayer-bd .opts-ctner a.btn-cancel {
	color: #999;
	background: #FFF;
	height: 28px;
	line-height: 28px;
	width: 82px;
	border: 1px solid #D8D8D8;
}