.report-check-item-content {
	padding-bottom: 30px;
}
.report-check-item-content .rc-item-info {
	overflow: hidden;
	background: #fff;
	padding: 20px 20px 10px 20px;
	border: solid 1px #d8d8d8;
	font-size: 20px;
	color: #555;
	margin-bottom: 12px;
}
.report-check-item-content .rc-item-info .item-infos {
	height: 48px;
	color: #646464;
	font-size: 13px;
	padding-top: 16px;
}
.report-check-item-content .rc-item-info .item-infos div {
	height: 24px;
	line-height: 24px;
}
.report-check-item-content .rc-item-info .item-infos span {
	display: inline-block;
	overflow: hidden;
}
.report-check-item-content .rc-item-info .item-infos .info-content {
	margin-right: 30px;
}
.report-check-item-content .rc-item-info .item-infos .info-sender, .report-check-item-content .rc-item-info .item-infos .info-approver,
.report-check-item-content .rc-item-info .item-infos .info-state {
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.report-check-item-content .rc-item-info .item-infos .info-content.info-red {
	color: #f46458;
}
.report-check-item-content .rc-item-info .item-infos .info-content.info-green {
	color: #49a30f;
}
.report-check-item-content .rc-item-info .item-infos .info-content.info-orange {
	color: #ff7f00;
}
.report-check-item-content .reportcheck-item-tb .rc-type {
	display: inline-block;
	width: 29px;
	height: 17px;
	text-align: center;
	line-height: 17px;
	border-radius: 2px;
	font-size: 12px;
}
.report-check-item-content .reportcheck-item-tb .rc-type.type-add {
	color: #4682ea;
}
.report-check-item-content .reportcheck-item-tb .rc-type.type-edit {
	color: #7fba00;
}
.report-check-item-content .rc-btn-ctner {
	padding: 30px 0;
	display: none;
}
.report-check-item-content .rc-btn-ctner a {
	display: inline-block;
	width: 70px;
	height: 28px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	font-size: 13px;
	text-decoration: none;
	border: 1px solid;
}
.report-check-item-content .rc-btn-ctner a.btn-pass {
	background: #427FED;
	border-color: #427FED;
	color: #FFF;
	margin-right: 20px;
}
.report-check-item-content .rc-btn-ctner a.btn-fail {
	background: #FFF;
	border-color: #D8D8D8;
	color: #f46458;
}
.report-check-item-content .rc-btn-ctner a.btn-fail:hover {
	background: #f46458;
	color: #FFF;
}
.reportcheck-item-tb .value-before, .reportcheck-item-tb .value-after, .reportcheck-item-tb .value-normal {
	line-height: 24px;
	width: 100%;
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
}
.reportcheck-item-tb .value-before {
	text-decoration: line-through;
	color: #AAA;
}
.reportcheck-item-tb .value-after {
	color: #35AD64;
}