<script charset="UTF-8" type="text/template" id="node">
    <div class="plan-node dom-dragable plan-drag <%=type%>"
         id="<%=id%>"
         attr-type="<%=type%>"
         attr-url="<%=url%>"
         attr-item-type="<%=itemType%>">
        <div class="icon iconfont"><%=icon%></div>
        <div class="content-wrap">
            <div class="title"><%=name%></div>
            <div class='desc <%= desc==""?"empty":desc%>'>
                <%=desc==""?"请双击开始设置":desc%>
            </div>
        </div>
        <i class="icon iconfont close remove-node">&#xe637</i>
        <i class="output-dot"></i>
        <i class="input-dot"></i>
        <i class="yes-output-dot"></i>
        <i class="no-output-dot"></i>
        <i class="plan-num num">
             <%= num?num:0%>
        </i>
    </div>
</script>

<script charset="UTF-8" type="text/template" id="node-content">
   <div class="title"><%=name%></div>
   <div class='desc <%= desc==""?"empty":desc%>'><%= desc==""?"请双击开始设置":desc%></div>
</script>