/**
* 活动编排tip弹层样式，请拷贝到对应的文件里面
**/
.active-nodetip {
  background: #fff;
  padding: 20px 24px;
  width: 264px;
  .tit {
    font-size: 16px;
    color: #3c3c3c;
    padding-bottom: 20px;
  }
  .input-field {
    label {
      left: 0;
    }
    .time-icon {
      position: absolute;
      top: 3px;
      left: 0;
      font-size: 18px;
    }
    .time-picker {
      padding-left: 24px;
    }
  }
  .select-tit {
    font-size: 12px;
    color: #787878;
    margin: 6px 8px 0 0;
  }
  .select-wrap {

  }
  .ml8 {
    margin-left: 8px;
  }
}
