/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-11-03
 */

.crm-unallocatedcustomers-setting{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}#crmsettings-unallocatedcustomers .customer-foolo,#crmsettings-unallocatedcustomers .crmtable-sort-ownername{display:none}#crmsettings-unallocatedcustomers .crm-table-list-warp .fn-left{display:none}.crm-setting-multyset{display:none;color:#fff;border:1px solid #6B5;padding:0 20px;line-height:28px;cursor:pointer;background-color:#6B5;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}