#profile .head-img-wrap img{width:150px;height:150px;margin-right:0px;margin-left:10px;border:#CCC solid 1px;}
.profile-left-dl{margin-left:20px;line-height:28px;}
.profile-left-dl .profile-star-img{vertical-align:middle;margin-left:5px;}
.profile-left-dl dt{margin-right:6px;}
.profile-left-dl dd{padding-right:20px;}
.profile-left-dl dd.pld-pad-left{padding-left:30px;}
.profile-left-dl dd.pld-text-right{text-align:right;}
.profile-left-dl dd span.number-padl01{padding-left:22px;}
.profile-left-dl dd span.number-padl02{padding-left:10px;}
.profile-name-note{
    font-size: 14px;
    vertical-align: middle;
}
#profile h1.depw-title{padding-bottom:10px;}
#profile .profile-right-map{line-height:150px;border:#ebebeb solid 1px;text-align:center;}

.profile-count{padding:10px 20px;}
.profile-count .person-eff{background-color:#b1d451;text-align:center;width:100%;border-collapse:inherit;border-spacing:1px;}
.profile-count .person-eff td,.profile-count .person-eff th{height:22px;text-align:center;}
.profile-count .person-eff th{background-color:#bcda6a;font-weight:bold;}
.profile-count .person-eff td.td-bg-title{background-color:#cee492;}
.profile-count .person-eff td.td-bg-white{background-color:#ffffff;}
.profile-count .person-eff td.td-bg-bot{background-color:#e9f3cd;}
.profile-count .person-eff td .project-title-r,
.profile-count .person-eff td .month-title-l{color:#ffffff;display:block;}
.profile-count .person-eff td .project-title-r{text-align:right;padding-right:5px;}
.profile-count .person-eff td .month-title-l{text-align:left;padding-left:5px;}

#profile .profile-tabs .filter{
    padding:10px 20px;
    line-height: 2em;
    position: relative;
}
#profile .profile-tabs .filter label{
    color:#999999;
}
#profile .profile-tabs .filter .sub-type .filter-field{
    display: none;
}
#profile .profile-tabs .filter .state-active{
    background: #0082CB;
    color:#ffffff;
}
#profile .profile-tabs .filter .search-wrapper{
    position: absolute;
    top:10px;
    right:20px;
}
#profile .profile-tabs .ui-tab-item a:hover{text-decoration:underline;}
#profile .profile-tabs .ui-tab-item-current a{color: #DD4B39;font-weight:bold;}
#profile .ui-tab-item a {padding:0;}

#profile .r-map-sign-wrap{border:#ebebeb solid 1px;margin-top:5px;text-align:center;line-height:145px;}
#profile .map-flag{
    background: url(../../assets/images/staticmap.png) no-repeat;
}
#profile .map-flag a{
    display: block;
    width:100%;
    height:100%;
}
#profile .profile-limgbot-wrap{padding:0 0 20px 20px;color:#666666;}
#profile .edit-user-profile-l{position:absolute;right:0px;top:0px;padding:0 20px 0 10px;background-color:#FFF;}
#profile .chat-l{
    background-color: #FFFFFF;
    font-size: 13px;
    padding: 0 20px 0 10px;
    position: absolute;
    right: 0;
    top: 10px;
}
#profile h1.depw-title{position:relative;white-space:nowrap;overflow:hidden;}
#profile .depw-text{padding-top:0px;margin-top:-10px;font-size:14px;word-wrap:break-word;padding-right:140px;}

#profile .userinfo-list{margin-top:20px;padding-left:40px;font-size:14px;}
#profile .userinfo-list dt{width:80px;text-align:right;color:#999;}
#profile .userinfo-list dd{margin-left:10px;color:#333;word-break:break-all;padding-right:5px;width:420px;}

#profile .head-img-wrap{padding-top:5px;}

#profile .attach-panel .img-list-wrapper,
#profile .attach-panel .attach-list-wrapper,
#profile .attach-panel .audio-list-wrapper{position:relative;}
#profile .attach-panel .search-wrap{position: absolute;top:-75px;right:20px;}

.pamrk-apv-dialog .ui-dialog-text{padding:10px;}
.pamrk-apv-dialog .pamrk-list-wrap{height:500px;overflow:auto;}
.pamrk-apv-dialog .pamrk-btn-wrap{text-align:right;}
.pamrk-apv-dialog .pamrk-list-table{width:100%;background-color:#abd144;text-align:center;border-collapse:inherit;border-spacing:1px;}
.pamrk-apv-dialog .pamrk-list-table th{background-color:#bcda6a;line-height:23px;text-align:center;}
.pamrk-apv-dialog .pamrk-list-table td{background-color:#ffffff;line-height:34px;}
.pamrk-apv-dialog .pamrk_tdimg_head{vertical-align:middle;margin-right:10px;display:inline-block;}


