/*
*底部栏样式
*/
.m-footbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px #bfbfbf solid;
    background: #eee;
    span{
        font-size:1.1rem;
        padding: 10px 20px;
        cursor: pointer;
        box-sizing:border-box;
        &:first-child{
            float:left;
        }
        &:last-child{
            float:right;
        }
    }
}