// 文字省略号
@import "minxins/ellipsis";
@import "minxins/float";
@import "minxins/clearfix";
@import "minxins/image";
.position() {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 9999;
}