#circles-atcircle .head-img-wrap{
    display: none;
}
#circles-atcircle .circles-nav-list{
}
#circles-atcircle .circle-title{
    margin: 20px 0 0 20px;
    color:#999999;
}
.department .tpl-r .home-right-content .circle-name{
    display: inline-block;
    width:115px;
    height:1.5em;
    overflow: hidden;
}