<h1>首页</h1>
{{#if flash}}
    <div class="alert alert-dismissable alert-{{flash.type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
        <strong>{{flash.intro}}</strong>
        {{{flash.message}}}
    </div>
{{/if}}
{{! > 默认指向局部模板的目录partials}}
{{> weather}}