{{#section 'head'}}
    <meta name="lxf" content="noindex">
{{/section}}
<h1>test page</h1>
<p>we're testing some jquery stuff.</p>
{{#section 'jquery'}}
    <script>
        $('document').ready(function () {
            $('h1').html('jquery works');
        })
    </script>
{{/section}}