/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-09-02
 */

.marketingintroduct{}.marketingintroduct .tpl-mi{text-align:center;padding-top:50px}.marketingintroduct .tpl-mi .tmi-remind{background:url(../../assets/images/info2.png) no-repeat left;padding-left:20px;text-align:left;color:#ef9400;fong-size:14px;font-weight:700;margin-left:280px}