.fs-likelist-item{border: none;
	margin: 18px;
border-bottom: dashed 1px #EBEBEB;
padding-bottom: 16px;

}
.fs-likelist-item .item-face {
	float: left;
width: 50px;
position: relative;
}
.fs-likelist-item .item-face img{
	width: 50px;
height: 50px;
}
.fs-likelist-item .item-detail{
	margin-left: 62px;
color: #444;
word-break: break-all;
}
.fs-likelist-item .item-detail .myreply-content {
    font-family: "宋体";
    margin-top: 20px;
    color: #707070;
}