/**
 * For app.html
 * App入口样式
 */
 html{
     overflow-y: scroll;
 }
.app-wrapper{
    width:100%;
}
.app-inner{
    width:960px;
    margin:0 auto;
    position: relative;
}
.hd{
    border-top:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    position: relative;
    z-index: 100;
}
.hd-t{
    position: relative;
    z-index: 10;
    height:35px;
    line-height:35px;
    border-bottom:1px solid #d1d1d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#020202));
    background: -moz-linear-gradient(top,  #555555,  #020202);
    background: -o-linear-gradient(top, #555555, #020202);
    background: linear-gradient(to bottom, #555555, #020202);
    color:white;
}
.hd-t-ie {
    /* ie hack,filter可实现渐变色，但会对子节点的zIndex产生影响，导致zIndex不起作用 */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#020202');*/
    background:url(../images/page-tbar-bg.png) repeat-x;
}
.hd-t a,.hd-t a:visited{
    color:white;
}
.hd-t .section-l{
    float:left;
	height:35px;
	line-height:35px;
	width:190px;
}
.hd-t .section-r{
    float:right;
}
.hd-b{
    height:44px;
    background:#f1f1f1;
}
.hd-b .hd-inner{
    padding-top:11px;
}
.tpl-nav{
    width:575px;
    margin:0 auto;
    
}
.tpl-nav-list{
    float:left;
	padding-left:1px;
}
.tpl-nav-list li{height:28px;position:relative;padding-left:15px;padding-right:5px;}
.tpl-nav-list li .nav-tip-apv{display:none;position:absolute;top:33px;left:0;background-color:#2a2a2a;color:#ffffff;height:27px;line-height:27px;padding:0 9px;z-index:3;}
.tpl-nav-list li .nav-tip-attach{
    width:60px;
    left:-18px;
}
.tpl-nav-list li .nav-tip-apv i{position:absolute;top:-5px;left:50%;color:#2a2a2a;font-size:14px;font-family: "SimSun";font-style:normal;line-height:1;margin-left:-6px;}

.tpl-nav-list li a{display:inline-block;height:31px;line-height:23px;padding:0 2px;color:#808080;border-bottom:#f1f1f1 solid 2px;text-align:center;outline:none;position:relative;font-size:14px;}
.tpl-nav-list li a:hover{text-decoration:none;color:#dd4b39;}
.tpl-nav-list li a.tnavon{border-bottom:#dd4b39 solid 2px;color:#dd4b39;}
/*
.tpl-nav-list li a.stream{background:url(../images/menu/stream_gray.png) no-repeat center;}
.tpl-nav-list li a.stream:hover{background:url(../images/menu/stream_color.png) no-repeat center;}
.tpl-nav-list li a.streamon{background:url(../images/menu/stream_color.png) no-repeat center;background-color:#d3d3d3;border:#c0c0c0 solid 1px;position:relative;z-index:1;}
.tpl-nav-list li a.streamon:hover{background:url(../images/menu/stream_color.png) no-repeat center;background-color:#d3d3d3;}

.tpl-nav-list li a.work{background:url(../images/menu/work_gray.png) no-repeat center;}
.tpl-nav-list li a.work:hover{background:url(../images/menu/work_color.png) no-repeat center;}
.tpl-nav-list li a.workon{background:url(../images/menu/work_color.png) no-repeat center;background-color:#d3d3d3;border:#c0c0c0 solid 1px;position:relative;z-index:1;}
.tpl-nav-list li a.workon:hover{background:url(../images/menu/work_color.png) no-repeat center;background-color:#d3d3d3;}

.tpl-nav-list li a.approve{background:url(../images/menu/approve_gray.png) no-repeat center;}
.tpl-nav-list li a.approve:hover{background:url(../images/menu/approve_color.png) no-repeat center;}
.tpl-nav-list li a.approveon{background:url(../images/menu/approve_color.png) no-repeat center;background-color:#d3d3d3;border:#c0c0c0 solid 1px;position:relative;z-index:1;}
.tpl-nav-list li a.approveon:hover{background:url(../images/menu/approve_color.png) no-repeat center;background-color:#d3d3d3;}


.tpl-nav-list li a.plan{background:url(../images/menu/plan_gray.png) no-repeat center;}
.tpl-nav-list li a.plan:hover{background:url(../images/menu/plan_color.png) no-repeat center;}
.tpl-nav-list li a.planon{background:url(../images/menu/plan_color.png) no-repeat center;background-color:#d3d3d3;border:#c0c0c0 solid 1px;position:relative;z-index:1;}
.tpl-nav-list li a.planon:hover{background:url(../images/menu/plan_color.png) no-repeat center;background-color:#d3d3d3;}

.tpl-nav-list li a.attach{background:url(../images/menu/attach_gray.png) no-repeat center;}
.tpl-nav-list li a.attach:hover{background:url(../images/menu/attach_color.png) no-repeat center;}
.tpl-nav-list li a.attachon{background:url(../images/menu/attach_color.png) no-repeat center;background-color:#d3d3d3;border:#c0c0c0 solid 1px;position:relative;z-index:1;}
.tpl-nav-list li a.attachon:hover{background:url(../images/menu/attach_color.png) no-repeat center;background-color:#d3d3d3;}
*/

.tpl-nav-list li .remind-count{
    display: none;
    position: absolute;
    top:-5px;
    left:42px;
    /*width:15px;
    height:15px;*/
    z-index:2;
    padding:0 4px;
	font-size:9px;
	font-family:Arial;
	text-align:center;
    border:2px solid;
	border-color:#ef5e65  #db0d14  #db0d14  #ef7378;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow:1px 2px 3px #777777;
    -webkit-box-shadow:1px 2px 3px #777777;
    box-shadow:1px 2px 3px #777777;
    color:#c50103;
    font-weight: bold;
    background: #ffffff;
	-webkit-text-size-adjust:none;
	-webkit-transform: scale(0.8,0.65) translate(3px,-3px);/*暂时兼容chrome 27 不支持-webkit-text-size-adjust:none;*/
	font-weight:normal;
	font-family:Arial;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
   .tpl-nav-list li .remind-count{font-size:12px;}
}

.global-search-f{
    position:absolute;
	right:220px;
	top:0px;
	*top:5px;
}
.global-search-ac-panel .hl{
    color: red;
}
.global-search-ac-panel .global-search-title{
    line-height: 30px;
    text-align: left;
}
.global-search-ac-panel .global-search-title{
    padding:0 1em;
}
.global-search-ac-panel .global-search-members,
.global-search-ac-panel .global-search-work,
.global-search-ac-panel .ui-autocomplete-empty .global-search-title{
    border-bottom:1px solid #d1d1d1;
}
.global-search-ac-panel .ui-autocomplete-item a{
    display: block;
}
.global-search-ac-panel .icon-avatar{
    width:30px;
    height:30px;
    vertical-align: middle;
}
.global-search-ac-panel .global-search-members .ui-autocomplete-item a{
    vertical-align: middle;
    line-height: inherit;
    height: auto;
    margin-bottom: 4px;
}
.h-search-text{width:170px;height:20px;line-height:20px;border:#d9d9d9 solid 1px;color:#999999;padding-left:6px; vertical-align:middle;}
.h-search-btn{width:28px;height:22px;background:#f1f1f1 url(../images/magnifier.png) no-repeat center;border:#d9d9d9 solid 1px;border-left:none;vertical-align:middle;cursor:pointer;}

.tpl-nav-item{
    float:left;
   
}
/* 子模板切换ajax遮罩 */
.sub-tpl-switch-mask{
    background: white;
    opacity: 1;
    /*background: url(../images/loading.gif) no-repeat center center;*/
}

.tpl{
    width:100%;
    zoom:1; /* for IE6 IE7 */
}
.tpl:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.tpl-l,
.tpl-c,
.tpl-r{
    float:left;
	
}
.tpl-r{overflow:hidden;}
.tpl-c{
    width:60%;
}
.tpl-c .tpl-inner{
    border-left:1px solid #ebebeb;
    border-right:1px solid #ebebeb;
	min-height:900px;
	
}
.tpl-l,
.tpl-r{
    width:20%;
}
.tpl-r{
    _margin-left:-5px;
}
.hd-t .section-r .separator{padding:0 7px;}

#global-remind{
    display: none;
    position:fixed;
	_position: absolute;
    top:30px;
    right:50%;
	margin-right:-490px;
    padding:8px 25px 8px 12px;
    border:1px solid #d1d1d1;
    -moz-box-shadow:1px 2px 2px #cccccc;
    -webkit-box-shadow:1px 2px 2px #cccccc;
    box-shadow:1px 2px 2px #cccccc;
    background: #fdffea;
    color:#999999;
	width:200px;
	font-size:12px;
}
#global-remind .close-btn{
    position: absolute;
    top:3px;
    right:6px;
    line-height: 1em;
    font-size: 10px;
    color:#666666;
    cursor: pointer;
	font-weight:bold;
	font-size:14px;
}
#global-remind .remind-list{
    line-height: 21px;
}
#global-remind a,
#global-remind a:visited{
    color:#0082CB;
}
/* 返回到顶部 start */
.to-top-btn{
    display: none;
    width:16px;
    height:48px;
    padding:25px 5px;
    border:1px solid #d3d3d3;
    background:#f1f1f1;
    color:#84A4B9;
    text-align: center;
    line-height: 1.2em;
    cursor: pointer;
	z-index:12;
}
.to-top-btn-hover{
    color:#0082CB;
}
.to-top-btn-fixed-show{
    display: block;
    position: fixed;
    bottom:100px;
    left:50%;
	margin-left:490px;
}
.to-top-btn-abs-show{
    display: block;
    position: absolute;
    top:-10000px;
    left:50%;
    margin-left:490px;
}
.to-top-btn .arrows-wrapper{
    display: block;
    overflow: hidden;
    position: absolute;
    width:0;
    height:0;
    border:6px solid;
    top:8px;
    left:7px;
    border-color:#F1F1F1 #F1F1F1 #84A4B9 #F1F1F1;
}
.to-top-btn-hover .arrows-wrapper{
    border-color:#F1F1F1 #F1F1F1 #0082CB #F1F1F1;
}
.to-top-btn .arrows-inner{
    display: block;
    position: absolute;
    width:0;
    height:0;
    border:6px solid #f1f1f1;
    top:-5px;
    left:-6px;

}
/* 返回到顶部 end */
/*20130716 by haibo start*/
/*.hdi-right-apv01{position:absolute;left:790px;top:9px;}
.hdi-right-apv02{position:absolute;right:0px;top:9px;}
.hdi-right-apv03{position:absolute;left:790px;top:24px;}
.hdi-right-apv04{position:absolute;right:0px;top:24px;}*/
.global-other-tip{
    position:absolute;
    right:0px;
    bottom:0px;
	height:35px;
}
.global-other-tip .hdi-right-apv{
    display: none;
	width:170px;
	*height:18px;
	line-height:16px;
    font-family: "宋体";
}

.hd-t .section-r .user-name-l{}
.hd-t .section-r .common-use-l{position:relative;display:inline-block;*display:inline;*zoom:1;*vertical-align:middle;width:38px;text-align:center;}
.hd-t .section-r .common-use-l .common-use-title{position:relative;cursor:pointer;border:transparent solid 1px;_border:0;*height:40px;*line-height:42px;_height:35px;_line-height:35px;}
.hd-t .section-r .common-use-l .culon{position:relative;top:0;left:0;width:38px;color:#444444;border:#444444 solid 1px;border-bottom:none;background-color:#fafafa;height:40px;_height:35px;_line-height:35px;_border-width:0;z-index:3;}

.hd-t .section-r .common-use-l .common-use-list{position:absolute;top:40px;_top:34px;right:-2px;_right:-1px;width:90px;border:#444444 solid 1px;background-color:#fafafa;z-index:2;padding:2px 2px 5px 2px;}  

.hd-t .section-r .common-use-l .common-use-list a{height:20px;line-height:20px;line-height:22px\9\0;display:block;margin-top:5px;color:#444444;padding-left:15px;text-align:left;}
.hd-t .section-r .common-use-l .common-use-list a:hover{background-color:#dcdcdc;text-decoration:none;}  
.hd-t .section-r .common-use-l .common-use-list .cul-line{border-top:#dcdcdc solid 1px;height:0;overflow:hidden;font:0;}

.hd-t .section-c{float:left;position: relative;}
.hd-t .section-c a{display:inline-block;width:80px;zoom:1;text-align:center;line-height:30px;height:30px;color:#ffffff;border-radius:2px 2px 0 0;margin-top:5px;*margin-top:4px;
background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#060606));
background: -moz-linear-gradient(top,  #666666,  #060606);
background: -o-linear-gradient(top, #666666, #060606);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#060606');
background: linear-gradient(to bottom, #666666, #060606);
}
.hd-t .section-c a:hover{text-decoration:none;
background: -webkit-gradient(linear, left top, left bottom, from(#8f8f8f), to(#222222));
background: -moz-linear-gradient(top,  #8f8f8f,  #222222);
background: -o-linear-gradient(top, #8f8f8f, #222222);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f8f8f', endColorstr='#222222');
background: linear-gradient(to bottom, #8f8f8f, #222222);
}
.hd-t .section-c a.sc-tagon{background:none;background-color:#f1f1f1;color:#444444;height:31px;filter:none;*border-bottom:#f1f1f1 solid 1px;}
.hd-t .section-c a.sc-tagon:hover{background:none;background-color:#f1f1f1;color:#444444;height:31px;filter:none;}
.hd-t .section-c a.sc-tag{*border-bottom:#d1d1d1 solid 1px;}
/*20130716 by haibo end*/ 

.logout-f{
    display: inline;
	*position:relative;
}
.logout-f .logout-l{
    background: transparent;
    border:none;
    color: white;
    cursor: pointer;
*position:absolute;
*top:12px;
_top:8px;
*left:0;
}
/*邀请同事弹层*/
.invite-apv-dialog .invite-list-wrap{padding:20px 30px 0px;}
.invite-apv-dialog .invite-list-wrap .invite-item{margin-top:5px;}
.invite-inp{width:240px;height:26px;line-height:26px;border:#999999 solid 1px;border-radius:3px;padding-left:4px;vertical-align:middle;}
.invite-inp-on{border-color:#a5c760;background-color:#f4ffd4;}
.invite-inp-onerror{border:#ff0000 solid 1px;background-color:#ffcccc;}
.invite-inp-cerror{background:#ffdbdb url(../../assets/images/error.png) no-repeat 5px 6px;line-height:26px;padding:0 8px 0 25px;margin-left:4px;display:inline-block;border-radius:3px;}
.invite-apv-dialog .invite-amore{padding:20px 0 0 73px;}
.invite-apv-dialog .invite-amore a{}
.invite-apv-dialog .invite-btn-wrap{padding:0px 10px 10px 0;text-align:right;}
.invite-apv-dialog .invite-btn-wrap .f-sub{margin-right:10px;}

/**/
.global-search-ac-panel{_width:204px;}

/* 浏览器升级提示 start */
.browser-upgrade-tip{
    position: relative;
    top:0;
    left:0;
    padding:5px 30px 5px 10px;
    /*border:1px solid #D1D1D1;*/
    z-index:10;
    background:#FDFFEA;
    border-bottom: 1px solid #D1D1D1;
    color:#666666;
    text-align: center;
}
.browser-upgrade-tip .back-origin-l{
    font-weight: normal;
}
.browser-upgrade-tip img{
    vertical-align: middle;
}
.browser-upgrade-tip .close-l{
    position: absolute;
    right:5px;
    top:2px;
    font-size:10px;
    color: #666666;
    font-weight: bold;
}
.browser-upgrade-tip .browser-upgrade-content{
    color: #DD4B39;
}
/* 浏览器升级提示 end */
/* 客群beta icon start */
.hd-t .section-c .icon-beta{
    display: block;
    width:30px;
    height:18px;
    position: absolute;
    left:148px;
    top:2px;
    background: url(../images/crm-beta-ico.png) no-repeat;
}
/* 客群beta icon end */

/* 受限用户隐藏cls start */
.fs-limit-user-hide{
    display: none ! important;
}
/* 受限用户隐藏cls end */

/* 返回plus版 start */
.return-plus-l{
    position: absolute;
    top:1px;
    right:-80px;
    +top:6px;
    +right:-110px;
}
/* 返回plus版 end */