/* 联系人面板 start */
.fs-contact-dialog{
	padding:0px;
	border:1px solid #d1d1d1;
	overflow: hidden;
}
.fs-contact-letter-nav{
	float:left;
}
.fs-contact-list-wrapper{
	float:left;
	height:325px;
    width:210px;
	overflow: auto;
	margin:10px 0 0 10px;
    *position:relative;
}
.fs-contact-list{
    position: relative;
}
.fs-contact-letter-nav .list-0,
.fs-contact-letter-nav .list-1{
	float:left;
}
.fs-contact-letter-nav .list-1{
	margin-top:108px;
}
.fs-contact-content{
	padding-top:10px;
}
.fs-contact-letter-nav li{
	width:20px;
	height:15px;
	line-height: 15px;
	border:1px solid #f2f2f2;
	color:#c9c9c9;
	text-align: center;
	margin:1px;
}
.fs-contact-tabs .ui-switchable-content,
.fs-contact-tabs .ui-switchable-panel{
	height:345px;
	
}
.fs-contact-tabs .ui-switchable-panel{
	display: none;
}
.fs-contact-dialog .ui-dialog-close {
   font-size:16px;
   color:#cccccc;
   font-weight:900;
   right:10px;
}
.fs-contact-dialog .ui-dialog-close:hover {
   color:#cccccc;
   text-shadow:none;
}
.fs-contact-tabs .ui-tab-items{
	padding-left:50px;
    border-bottom:#cfcfcf solid 1px;
}

.fs-contact-list li{
	/*width:206px;*/
    width:190px;
}
.fs-contact-tabs .ui-tab-item{
	font-size:12px;
	margin-right:5px;
	border-bottom:#cfcfcf solid 1px;
	background-color:#ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top,  #fcfcfc,  #f1f1f1);
    background: -o-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background: linear-gradient(to bottom, #fcfcfc, #f1f1f1);
}
.fs-contact-tabs .ui-switchable-active{
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fcfcfc));
    background: -moz-linear-gradient(top, #f1f1f1, #fcfcfc);
    background: -o-linear-gradient(top, #f1f1f1, #fcfcfc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#fcfcfc');
    background: linear-gradient(to bottom, #f1f1f1, #fcfcfc);
	border-bottom:#ffffff solid 1px;
}
.fs-contact-tabs .ui-tab-item a{
	height:25px;
	line-height: 25px;
    border:#cfcfcf solid 1px;
    border-bottom:none;
	color:#000000;
}
.fs-contact-list .index-keyword{
	float:left;
	color:#2f3032;
}
.fs-contact-list .item-length{
	float:right;
	color:#959698;
}
.fs-contact-list .index-box{
	border:1px solid #d0d0d0;
	background: #f7f9f8;
	padding:0 0.5em;
}
.fs-contact-item{
	height:30px;
	line-height: 30px;
	padding:0 0.5em;
	margin:1px 0;
    overflow: hidden;
	color:#2f3032;
	cursor: pointer;
}
.fs-contact-item:hover{background-color:#e6f3f7;}
.fs-contact-item-selected{
	background: #cbe6ef;
}
.fs-contact-item-selected:hover{
	background: #c5e3ed;
}
.fs-contact-view li{
	width:auto;
}
.fs-contact-bbar{
	padding:0 10px;
	background: #f7f7f7;
	border-top:1px solid #d1d1d1;
    height:32px;
}
.fs-contact-summary{
	float:left;
	color:#949494;
	line-height:30px;
}
.fs-contact-action{
	float:right;
	color:#363636;
    margin-top:4px;
}
.fs-contact-action button.fs-contact-close-btn{
    padding:0 10px;
    height:24px;
}

.fs-contact-letter-nav li.fs-contact-letter-selected{
	border:1px solid #cfcfcf;
	background: #fbfbfb;
	color:#2F3032;
    cursor: pointer;
}
/* 联系人面板 end */


/* 联系人Bar start */
.fs-contact-bar{
	line-height: 33px;
	border:1px solid #dddddd;
    position:relative;
    background: #ffffff;
}
.fs-contact-bar .fs-contact-bar-content{
	padding-left:5px;
}
.fs-contact-bar .show-select-panel-h{
	float:left;
}
.fs-contact-bar-list{
	/*float:left;*/
}
.fs-contact-bar .input-wrapper{
	float:left;
    cursor: pointer;
}
.fs-contact-bar .input-wrapper .input-tip{
	color:#3366cc;
}
.fs-contact-bar .input-wrapper .input-tip i.prefix {
    font-style:normal;
    font-weight:bold;
    padding-left:2px;
}
.fs-contact-bar .input-field{
	display: none;
	border:none;
    _border:1px solid #ffffff;
    height:30px;
    line-height:30px;
    margin-top: 1px;

}
.fs-contact-bar-item{
	float:left;
	height:20px;
	line-height: 20px;
	margin:5px 3px 0px 0px;
	padding:0 0.5em;
	background: #1ea0da;
	border:#057bac solid 1px;
    border-radius:2px;
	color:white;
    box-shadow:0 1px 0 #61c8ee inset;
    cursor:pointer;
}
.fs-cbi-dept{background:#1ea0da url(../../assets/images/circle_white.png) no-repeat 4px 4px;padding-left:20px;}
.fs-cbi-allcomp{background:#1ea0da url(../../assets/images/allcompany_white.png) no-repeat 4px 4px;padding-left:20px;}
.fs-contact-bar-item span.item-name{color:#ffffff !important;}/*2013.6.15 by haibo*/
.fs-contact-bar-item .remove-h{
    color:#a4d9ef;
    padding-left:3px;
    font-weight:bold;

}
.fs-contact-bar .show-select-panel-h{
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
	width:22px;
	height:100%;
	background:#f4f4f4 url(../../assets/images/d.png) no-repeat center;
    cursor: pointer;
}
.fs-contact-bar .show-select-panel-h-up{
    background:#f4f4f4 url(../../assets/images/icon-arrows-up.png) no-repeat center;
}
/* 联系人Bar end */

/* 多媒体 start */
.fs-progressbar-pipe{
	position: relative;
	width:130px;
	height:1.6em;
    line-height: 1.6em;
	top:0;
	left:0;
    border:1px solid #b8b8b8;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background: #e1e1e1;
    overflow: hidden;
}
.fs-progressbar-tbar,
.fs-progressbar-bbar{
    color: #333333;
    font-size: 14px;
    text-align: center;
}
.fs-progress-indicator{
	position: absolute;
	top:0;
	left:0;
	width:0;
	height:100%;
	background: #a7cd39;
}
.fs-progress-text{
    position: absolute;
    left:50%;
    top:0;
    z-index:10;
    color:#ffffff;
    text-align: left;
    margin-left:-1em;
}
.fs-publish-action-btns{
	/*border-bottom:1px solid #d1d1d1;*/
	text-align: right;
}
.fs-publish-media-btn{
	cursor: pointer;
	display:inline-block; /* 现代浏览器 +IE6、7 inline 元素 */
	*display:inline; /* IE6、7 block 元素 */
	*zoom:1;
	margin:0 10px 3px;
	*margin-bottom:8px;
	overflow:hidden;
}
.fs-publish-media-disabled{
    cursor: default;
}
.fs-publish-media-panel-wrapper{
	display: none;
	border:1px solid #dddddd;
	position: relative;
    padding:10px;
    font-size:12px;
    background: #ffffff;
}
.fs-publish-vote-panel .vote{
    padding:0 10px;
}
.fs-publish-vote-panel .ui-form-item{
    margin-bottom:5px;
}
.fs-publish-vote-panel .option-wrapper .remove-l{
    cursor: pointer;
}

.fs-publish-vote-panel .vote select.vote-count,
.fs-publish-vote-panel .vote select.deadline-ticks{height:27px;vertical-align:middle;}/*20131022 by haibo*/
.fs-publish-vote-panel .vote .vote-desc{
    color:#999999;
}

.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item {
   /*padding: 0 5px 20px 80px;*/
    }
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item .ui-label {
    padding-top:0px;
    }
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item .is-anoymouse,
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item .result-view-type{vertical-align:middle;}/*20131226 by haibo*/
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item p {
    padding-bottom:5px;
    }
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item p > .option-index{
    width:30px;text-align:right;display:inline-block;
}	
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item .label-radio-wrap {
    margin-right:10px;
    }
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item .ui-inputb{
   width: 320px;
   padding: 0 5px;
   height:24px;
   line-height:24px;
   border:#dddddd solid 1px;
}
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .ui-form-item .ui-form-explain {
    display:none;
}
.fs-publish-media-panel-wrapper .fs-publish-vote-panel .custom-range{
    padding-left:65px;
    margin-top:10px;
}
.fs-publish-media-panel-wrapper .close-btn{
	display: block;
	position: absolute;
	top:5px;
	right:10px;
	cursor: pointer;
    font-size: 16px;
font-weight: bold;
color:#cccccc;
z-index:10;
}
.fs-publish-vote-btn img{
	width:18px;
	height:18px;
	background: url(../../assets/images/menu/vote_color.png) no-repeat;
}
.fs-publish-at-btn img{
	width:18px;
	height:18px;
	background: url(../../assets/images/menu/At_color.png) no-repeat;
}
.fs-publish-gimgupload-btn img{
    width:18px;
    height:18px;
    background: url(../../assets/images/menu/camera_color.png) no-repeat;
}
.fs-publish-gattachupload-btn img{
    width:18px;
    height:18px;
    background: url(../../assets/images/menu/attachment_color.png) no-repeat;
}
.fs-publish-topic-btn img{
    width:18px;
    height:18px;
    background: url(../../assets/images/menu/Topic_color.png) no-repeat;
}
.fs-publish-upload-item{
	float:left;
	width:50%;
	position: relative;
	margin-bottom:5px;
    /*min-height: 80px;*/
}
.fs-publish-h5imgupload-panel .fs-publish-upload-item{
    height:120px;
}
.fs-publish-h5imgupload-panel .fs-publish-upload-item .thumb-img img{
    max-width: 120px;
    max-height: 120px;
    _width:120px;
    _height:120px;
}
.fs-publish-h5attachupload-panel .fs-publish-upload-item{
    /*height:120px;*/
}
.fs-publish-upload-item .fs-publish-upload-item-inner{
	padding:0px;
}
.fs-publish-upload-item-inner .thumb{
	float:left;
    width:120px;
}
/*.fs-publish-upload-item-inner .thumb .thumb-img{width:100%;text-align: center;}
.fs-publish-upload-item-inner .thumb .thumb-attach{width:35px;margin:0 auto;}*/
.fs-publish-upload-item-inner .thumb img.blank-place{
    width:100%;
    height:100%;
    background: url(../../assets/images/loading.gif) no-repeat center center;
}
.fs-publish-upload-item-inner .summary{
	margin-left:128px;
}
.fs-publish-attachupload-panel .fs-publish-upload-item-inner .summary{
	margin-left:40px;
}
.fs-publish-upload-item-inner .summary .file-name{
	word-break:break-all;
	/*width:110px;*/
    width:80%;
	height:55px;
	overflow:hidden;
}
.fs-publish-upload-item-inner .summary .file-name a{
    color:#000000;
    text-decoration: none;
    cursor: default;
}
.fs-publish-media-panel-wrapper .fs-publish-upload-info{
	padding-top:5px;
}
.fs-publish-attachupload-panel .icon-file{
	width:30px;
	height:30px;
}
.fs-publish-attachupload-panel .icon-file-common{
	background: url(../../assets/images/file/common.png) no-repeat center center;
}
.fs-publish-attachupload-panel .icon-file-jpg{
	background: url(../../assets/images/file/jpg.png) no-repeat center center;
}
.fs-publish-attachupload-panel .icon-file-zip{
	background: url(../../assets/images/file/zip.png) no-repeat center center;
}
.fs-publish-attachupload-panel .icon-file-doc{
	background: url(../../assets/images/file/doc.png) no-repeat center center;
}
.fs-publish-attachupload-panel .icon-file-pdf{
	background: url(../../assets/images/file/pdf.png) no-repeat center center;
}
.fs-publish-attachupload-panel .icon-file-rar{
	background: url(../../assets/images/file/rar.png) no-repeat center center;
}
.fs-publish-attachupload-panel .icon-file-xls{
	background: url(../../assets/images/file/xls.png) no-repeat center center;
}
.fs-publish-h5attachupload-panel .thumb{
    width:30px;
}
.fs-publish-h5attachupload-panel .thumb img{
    width:30px;
    height:30px;
}
.fs-publish-h5imgupload-panel .thumb{
    text-align: center;
}
.fs-publish-h5attachupload-panel .summary{
    margin-left:40px;
}
/* html5版上传 */
.fs-publish-h5imgupload-btn,
.fs-publish-h5attachupload-btn{
    position: relative;
    *zoom:1;
}
.fs-publish-h5imgupload-btn img{
    width:18px;
    height:18px;
    background: url(../../assets/images/menu/camera_color.png) no-repeat;
}
.fs-publish-h5imgupload-disabled img{
    width:18px;
    height:18px;
    background: url(../../assets/images/menu/camera_gray.png) no-repeat;
}
.fs-publish-h5attachupload-btn img{
    width:18px;
    height:18px;
    background: url(../../assets/images/menu/attachment_color.png) no-repeat;
}
.fs-publish-h5attachupload-disabled img{
    width:18px;
    height:18px;
    background: url(../../assets/images/menu/attachment_gray.png) no-repeat;
}
.fs-publish-media-disabled .fs-publish-h5-upload{
    cursor: default;
    font-size:0;
}
.fs-publish-h5-upload{
    position:absolute;
    top:0;
    right:0;
    height:18px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:18px;
    font-size:100%;
    cursor: pointer;
}
.fs-publish-h5imgupload-btn .swfupload,
.fs-publish-h5attachupload-btn .swfupload{
    position: absolute;
    top:0;
    left:0;
}
/* 多媒体 end */

/* dateselect start */
.fs-publish-dateselect-input,
.fs-publish-timeselect-input{
    height:26px;
    line-height:26px;
    border:#dddddd solid 1px;
    padding-left:10px;
	vertical-align:middle;
}
.fs-publish-dateselect,
.fs-publish-timeselect{
	background: white;
	width:200px;
	border:1px solid #d1d1d1;
    -moz-box-shadow:1px 2px 2px #cccccc;
    -webkit-box-shadow:1px 2px 2px #cccccc;
    box-shadow:1px 2px 2px #cccccc;
}
.fs-publish-dateselect-title,
.fs-publish-timeselect-title{
	height:36px;
	line-height: 36px;
	padding:0 10px;
	color:#999999;
}
.fs-publish-dateselect-title .reset-l,
.fs-publish-timeselect-title .reset-l{
    float:right;
    color: #0082CB;
}
.fs-publish-dateselect-calendar{
	height:170px;
	border-top:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
}
.fs-publish-dateselect .ui-select-content,
.fs-publish-timeselect .ui-select-content{
	border:none;
	margin:0;
	width:100%;
	padding:10px 0;
}
.fs-publish-dateselect .ui-select-item a{
	color:#656565;
	padding-left:20px;
	line-height: 14px;
}
/* dateselect end */

/* 自动完成 start */
.fs-publish-ac-title{
	height:36px;
	line-height: 36px;
	color:#999999;
	padding:0 1em;
	border-bottom:1px solid #d1d1d1;
}
/* 自动完成 end */

/* 发feed遮罩 start */

/*
 * filter 渐变滤镜详细用法，[参见这里]
 * StartColorStr 和 EndColorStr:
 *    #4c000000 是 30% 透明度的 #000000 的意思
 *    组成: # + 透明度 + 颜色
 *    算法: Math.floor(0.6 * 255).toString(16);
 */
.fs-publish-allupload-dialog{
    background:rgba(255, 255, 255, 0.8);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99ffffff', EndColorStr='#99ffffff');
}

:root .fs-publish-allupload-dialog{
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00ffffff', EndColorStr='#00ffffff');
}
.fs-publish-allupload-dialog .fs-publish-send-info{
    text-align: center;
    padding-top:10px;
    font-size:14px;
    color:#333333;
}
/* 上传 start */
/*.fs-publish-allupload-dialog .ui-dialog-content{
    position: relative;
}
.fs-publish-allupload-dialog .fs-publish-allupload-pbar{
    top:35px;
    left:10%;
    width:80%;
}*/
/* 上传 end */
/* 发feed遮罩 end */

.fs-contact-bar-ac{width:250px;border:#cccccc solid 1px;}
.fs-contact-bar-ac .ui-autocomplete-init-title{line-height:35px;color:#999999;padding-left:20px;}
.fs-contact-bar-ac .ui-autocomplete-list-block{border-top:#ebebeb solid 1px;padding:10px 0;}
.fs-contact-bar-ac .ui-autocomplete-list-block li{}
.fs-contact-bar-ac .ui-autocomplete-list-block .ui-autocomplete-item a,
.fs-contact-bar-ac .ui-autocomplete-list-block .visible-h a{color:#666666;padding:0px 30px;line-height:30px;display:block;overflow:hidden;
white-space:nowrap;
word-break:keep-all;
text-overflow:ellipsis;}
.fs-contact-bar-ac .ui-autocomplete-list-block .ui-autocomplete-item a:hover,
.fs-contact-bar-ac .ui-autocomplete-list-block .visible-h a:hover{background-color:#eeeeee;color:#333333;}

.fs-contact-bar-ac .ui-autocomplete-ctn{border-top:#ebebeb solid 1px;padding:10px 0;}
.fs-contact-bar-ac .ui-autocomplete-ctn .ui-autocomplete-item a{padding:0 30px;display:block;overflow: hidden}
.fs-contact-bar-ac .ac-title{
    padding:10px 20px;
    color:#999999;
}
.fs-contact-bar-ac .ui-autocomplete-empty{
    padding:10px 20px;
}

/* 全局上传 start */
.fs-publish-g-upload-dialog .ui-dialog-tbar,
.fs-publish-g-upload-dialog .ui-dialog-body,
.fs-publish-g-upload-dialog .ui-dialog-bbar{
    padding:10px;
}
.fs-publish-g-upload-dialog .ui-dialog-tbar{
    padding-bottom:0;
}
.fs-publish-g-upload-dialog .ui-dialog-bbar{
    padding-top:0;
    text-align: right;
}
.fs-publish-g-upload-dialog .list-table{
    width:100%;
}
.fs-publish-g-upload-dialog .list-table th,
.fs-publish-g-upload-dialog .list-table td{
    border:1px solid #d1d1d1;
    padding:5px;
}
.fs-publish-g-upload-dialog .list-table .file-name{
    width:30%;
}
.fs-publish-g-upload-dialog .list-table .upload-progress{
    width:50%;
}
.fs-publish-g-upload-dialog .list-table .operation{
    width:20%;
}
.fs-publish-g-upload-dialog .list-body-wrapper{
    margin-top: -1px;
}
.fs-publish-g-upload-dialog .upload-pbar-wrapper{
    position: relative;
    height:30px;
}
.fs-publish-g-upload-dialog .upload-pbar{
    top:5px;
}

.fs-publish-topic-dialog{
    border:1px solid #d1d1d1;
}
.fs-publish-topic-dialog .arrows-wrapper{
    position: absolute;
    top:-16px;
    right:20px;
    width:0;
    height:0;
    border:8px solid;
    border-color:transparent transparent #d1d1d1 transparent;
}
.fs-publish-topic-dialog .arrows-inner{
    position: absolute;
    top:-5px;
    left:-7px;
    width:0;
    height:0;
    border:7px solid;
    border-color:transparent transparent #f7f7f7 transparent;
}
.fs-publish-topic-dialog .ui-dialog-tbar,
.fs-publish-topic-dialog .ui-dialog-bbar{
   background: #f7f7f7;
}
.fs-publish-topic-dialog .ui-dialog-tbar{
    height:35px;
    line-height: 35px;
    border-bottom: 1px solid #d1d1d1;
    text-align: center;
    vertical-align: middle;
}
.fs-publish-topic-dialog .ui-dialog-bbar{
    height:31px;
    line-height: 31px;
    border-top: 1px solid #d1d1d1;
    text-align: right;
}
.fs-publish-topic-dialog .topic-list-wrapper{
    height:335px;
    padding:5px;
    overflow: auto;
}
.fs-publish-topic-dialog button{
    height:24px;
    line-height: 24px;
}
.fs-publish-topic-dialog .cate-title,
.fs-publish-topic-dialog .topic-item{
    height:30px;
    line-height: 30px;
    padding:0 5px;
}
.fs-publish-topic-dialog .cate-title{
    background: #f8f8f8;
    color:#9a9a9a;
}
.fs-publish-topic-dialog .topic-item{
    cursor: pointer;
}
.fs-publish-topic-dialog .state-hover{
    background: #e6f4f7;
}
.fs-publish-topic-dialog .ui-dialog-close{
    color:#d0d0d0;
    font-size:1.5em;
}

.fs-publish-receipt .ui-dialog-body,
.fs-publish-receipt .ui-dialog-bbar{
    padding:10px;
    color:#999999;
}
.fs-publish-receipt .shortcut{
    margin-top: 10px;
}
.fs-publish-receipt .state-active{
    color:#0082CB;
    cursor: pointer;
}

/* 我的历史日志 start */
.my-history-plan .ui-dialog-body{
    padding:10px;
}
.my-history-plan .ui-dialog-body .body-l{
    width:420px;
}
.my-history-plan .ui-dialog-body .body-r{
    width:538px;
}
.my-history-plan .plan-content{
    border:1px solid #DDDDDD;
    height:395px;
	/*height:398px\0;*/
    padding:10px;
    overflow: auto;
}
.my-history-plan .plan-content .content-empty-tip{
    text-align: center;
}
.my-history-plan .plan-content .empty-icon{
    width:37px;
    height:33px;
    background: url(../../assets/images/info.png) no-repeat;
}
.my-history-plan .plan-content .content-empty-tip img,
.my-history-plan .plan-content .content-empty-tip span{
    vertical-align: middle;
    font-size: 16px;
}
.my-history-plan .publish-date{
    position: relative;
}
.my-history-plan .show-area{
    line-height: 25px;
    vertical-align: middle;
}
.my-history-plan .publish-date .nav-l,
.my-history-plan .publish-date .nav-r{
    vertical-align: middle;
    cursor: pointer;
}
.my-history-plan .publish-date .nav-l img{
    background: url(../../assets/images/feed_list.png) no-repeat;
    width:25px;
    height:25px;
    vertical-align: middle;
}
.my-history-plan .publish-date .nav-r img{
    background: url(../../assets/images/feed_list.png) no-repeat 0 -27px;
    width:25px;
    height:25px;
    vertical-align: middle;
}
.my-history-plan .current-plan-wrapper{
    border:1px solid #dddddd;
    height:415px;
    overflow: auto;
	overflow-x:hidden;
}
.my-history-plan .current-plan-wrapper textarea{
    width:100%;
    border:0;
    height:100px;
}
.my-history-plan .current-plan-wrapper .content-box{
    padding:5px 10px;
}
.my-history-plan .current-plan-wrapper .box-title{
    color:#999999;
}
.my-history-plan .current-plan-wrapper .today-box,
.my-history-plan .current-plan-wrapper .tomorrow-box{
    border-bottom: 1px solid #d1d1d1;
}
.my-history-plan .media{
    margin-top: -5px;
    height: 20px;
    overflow: hidden;
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .my-history-plan .media{
        margin-top: -15px;
    }
}
.my-history-plan .media .fs-publish-action-btns{
    border-bottom: none;
}
.my-history-plan .body-r-bbar{
    padding-top: 14px;
    text-align: right;
}
.my-history-plan .user-info{
    margin-bottom: 8px;
}
.my-history-plan .user-info img,
.my-history-plan .user-info a,
.my-history-plan .user-info span{
    vertical-align: middle;
}
.my-history-plan .user-info .user-name{
    font-size:16px;
}
.my-history-plan .publish-date .state-disabled{
    opacity: 0.5;
    filter:alpha(opacity=50);
    cursor: default;
}
.my-history-plan .content-item{
    margin-bottom: 20px;
}
.my-history-plan .content-item .content-item-text{ word-break:break-all;}
.my-history-plan .content-item-title{
    color:#999999;
}
.my-history-plan .publish-topic-tip{
    display: none;
    border-top:1px solid #dddddd;
    color:#DD4B39;
    line-height: 35px;
    padding:0 0px 0 25px;
    background: url(../../assets/images/info2.png) no-repeat 7px center;
}
/* 我的历史日志 end */
/* 搜索框组件 start */
.fs-publish-search{
    display: inline-block;
    zoom:1;
    position: relative;
}
.fs-publish-search-input{
    padding-right:44px;
}
.fs-publish-search .icon-search{
    position: absolute;
    right:0px;
    top:1px;
    width:16px;
    height:16px;
    padding:0 5px;
    border-left:1px solid #dddddd;
    background: url(../../assets/images/magnifier.png) no-repeat center center;
    cursor: pointer;
}
.fs-publish-search .icon-clear{
    position: absolute;
    right:27px;
    top:1px;
    width:16px;
    height:16px;
    text-align: center;
    line-height: 16px;
    color: red;
    font-size:14px;
    cursor: pointer;
}
/* 搜索框组件 end */
/* 加密feed验证框 start */
.fs-publish-fpv-dialog .ui-dialog-body{
    padding: 10px;
}
.fs-publish-fpv-dialog .ui-dialog-bbar{
    text-align: right;
}
.fs-publish-fpv-dialog .feed-pwd{
    width:200px;
    height:26px;
    line-height: 26px;
    border:1px solid #dddddd;
}
.fs-publish-fpv-dialog .f-field{
    margin-bottom: 10px;
    line-height: 28px;
}
/* 加密feed验证框 end */

.my-history-plan img.user-avatar{width:30px;height:30px;}
/*重置关键回复样式*/
.my-history-plan .fs-list-item{
    margin: 0;
    border: none;
    overflow: hidden;
}
.my-history-plan .fs-list-item .RC-feed .comment-list dd{
	width:300px;
	word-break:break-all;
	color:#707070;
}
/* 多媒体发送遮罩 start */
.fs-publish-media-send-model{
    position: absolute;
    top:0;
    left:0;
    background: #ffffff;
    z-index:10;

}
.fs-publish-media-send-model{
    background:rgba(255, 255, 255, 0.8);
    background: none\9;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99ffffff', EndColorStr='#ffffffff');
}

:root .fs-publish-media-send-model{
    background: none\9;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99ffffff', EndColorStr='#ffffffff');
}
.fs-publish-media-send-model .fs-publish-send-info{
    text-align: center;
    padding-top:10px;
    font-size:14px;
    color:#333333;
}
.fs-publish-allupload-pbar .fs-progressbar-bbar{
    text-align: right;
    font-size: 13px;
}
/* 多媒体发送遮罩 end */


