.locationmanages-tit{
    font-size: 16px;
    color: #333;
    height: 68px;
    line-height: 68px;
    font-weight: bold;
    padding: 0 16px;
}
.locationmanages-content{
    padding:5px 16px;
    padding-bottom: 80px;
}
.locationmanages-form dd{
    margin-top: 20px;
}
.locationmanages-form .form-input-tit{
    
    color: #999;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-top: 5px;
}
.locationmanages-form .form-input-text{
    width: 180px;
    height: 26px;
    border: solid 1px #ddd;
    vertical-align: middle;
    font-size: 13px;
    color: #999;
    line-height: 30px;
    padding-left: 10px;
}
.locationmanages-form .form-button{
    vertical-align: middle;
}
.locationmanages-form .form-input-datatxt{
    color: #999;
    margin: 0 10px;
}
.locationmanages-form .form-input-checkbox{
    vertical-align: middle;
}
.locationmanages-form .form-input-checkbox-righttip{
    color: #999;
    margin-left:5px;
    vertical-align: middle;
}
.locationmanages-form select{
    vertical-align: middle;
}
.locationmanages-form .rwarp{
    float: left;
    width: 454px;
}
.locationmanages-form .circle-warp{
    float: left;
    line-height: 20px;
    width: 454px;
 *margin-bottom: 5px;
}
.locationmanages-form .circle-warp dd{
    float: left;
    font-size:14px;
	line-height:28px;
	height:28px;
	color:#646464;
	border:#e4e4e4 solid 1px;
    background: #f8f8f8;
    padding: 0px 8px;
    margin: 0 5px 5px 0;
    white-space: nowrap; 
    _display: inline;
}
.locationmanages-form .circle-warp dd b{
   color:#d0d0d0;
   /*font-weight:normal;*/
   cursor:pointer;
   font-size:18px;
   line-height:12px;
}
.locationmanages-form .butwarp{
    float: left;
    width: 100%;
    _display: inline;
   
}
.locationmanages-downbtn{
    margin-left: 8px;
    vertical-align: middle;
}
.locationmanages-downbtn.loading{
    color: #999;
    background: url(../../../assets/images/loading.gif) no-repeat 0 0;
    padding-left: 20px;
    text-decoration: none;
}
.locationmanages-form .form-input-datawarp .fs-publish-dateselect-input{
     width: 180px;
    height: 26px;
    border: solid 1px #ddd;
    vertical-align: middle;
    font-size: 13px;
}
#locations-locationmanages .locations-statistics-l{
    background: transparent url("../../../assets/images/menu/lock_gray.png") no-repeat 190px 4px;
}
#locations-locationmanages .readme-list{
    margin-top: 10px;
    margin-left: 70px;
    color: #999;
}
#locations-locationmanages .locations-nav-list{border-top:#e8e8e8 solid 1px;padding:16px 0;margin-top:10px;}
/** 
 * 兼容chorme
 * 输入框光标位置和黄色边框
 * 这段放到最后面
 * Class名称要保持一致才会重置到样式 
 **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .locationmanages-form .form-input-text {
        line-height: 15px;
        outline: none;
    }
}