/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-11-03
 */

.crm-cummoncustomers-fliter{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}#crmsettings-commoncustomers .customer-foolo{display:none}.crm-crmsettings-commoncustomers-filterinfo{background:#fff;line-height:38px;border:1px #d8d8d8 solid;padding:0 12px;margin-top:15px;display:none}.crm-crmsettings-commoncustomers-filterinfo span{font-weight:700;padding:0 6px}.crm-crmsettings-commoncustomers-filterinfo a{cursor:pointer}#crmsettings-commoncustomers .crm-table-list-warp .fn-left{display:none}.crm-setting-multyset{display:none;color:#fff;border:1px solid #6B5;padding:0 20px;line-height:28px;cursor:pointer;background-color:#6B5;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}