.businesstags-list {

}

/*头部*/
.businesstags-list .hd {
    border: none;
    z-index: 0;
}

.businesstags-list .hd .l {
    float: left;
}

.businesstags-list .hd .l h1 .titname{
    font-size: 20px;
}

.businesstags-list .hd .l span {
    font-size: 14px;
    margin-left: 12px;
}

.businesstags-list .hd .r {
    float: right;
}

/*身体*/
.businesstags-list .bd {
    margin-top: 18px;
}

.businesstags-list .bd li {
    background: #fff;
    width: 130px;
    height: 238px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    border: solid 1px #D8D8D8;
    padding: 16px;
}

.businesstags-list .bd li .createtags-ps {
    font-size: 14px;
    margin-top: 72px;
    text-align: center;
}

.businesstags-list .bd li .createtags-btn {
    font-size: 14px;
    margin: 12px auto;
    text-align: center;
    border-radius: 3px;
    background: #427FED;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 34px;
    line-height: 32px;
    cursor: pointer;
}
.businesstags-list .bd li .create-define-field-ps {
    font-size: 14px;
    margin-top: 34px;
    text-align: center;
}
.businesstags-list .bd ul.create-define-field-intro{
    padding-left: 6px;
    margin-top: 24px;
}
.businesstags-list .bd ul.create-define-field-intro li{
    border: none;
    height: 10px;
    padding: 0;
    color: #b7b7b7;
    list-style-type: none;
    width: 136px;
}
.businesstags-list .bd li .create-define-field-btn-disabled {
    background: #b2b2b2!important;
    color: #e0e0e0!important;
    cursor: default!important;
}
.businesstags-list .bd li .create-define-field-btn {
    font-size: 14px;
    margin: 12px auto;
    text-align: center;
    border-radius: 3px;
    background: #427FED;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 34px;
    line-height: 32px;
    cursor: pointer;
}

.businesstags-list .bd .tag-item {
    position: relative;
}

.businesstags-list .bd .tag-item:hover {
    border-color: #84A3FF;

}

.businesstags-list .bd .tag-item .tag-name {
    font-size: 14px;
    color: #414141;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.businesstags-list .bd .tag-item .tag-options {
    border-top: solid 1px #b5b5b5;
    margin-top: 12px;
    padding-top: 12px;
}

.businesstags-list .bd .tag-item .tag-options dd {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999999;
    margin-bottom: 2px;
}

.businesstags-list .bd .tag-item .tag-delbtn {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 126px;
    border: solid 1px #D9D9D9;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.businesstags-list .bd .tag-item .tag-delbtn:hover {
    box-shadow: 1px 1px 3px #ccc;
}
.businesstags-list .bd .nodata-tip {
    font-size: 16px;
    color: #999;
    height: 276px;
    line-height: 276px;
}
.businesstags-list .bd .nodata-tip span{
    display:block;
    float: left;
}
.businesstags-list .bd .nodata-tip-keyword{
    max-width: 322px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.businesstags-list .backtoall-btn{
    font-size: 14px;
}
/*弹框样式*/
.dialog-businesstags-warp {
    padding: 38px;
}

.dialog-businesstags-warp .hd {
    border: none;
    font-size: 30px;
    color: #414141;
    margin-bottom: 38px;
}


.dialog-businesstags-warp .bd .l {
    float: left;
}

.dialog-businesstags-warp .bd .c {
    float: inherit;
    margin-left: 99px;
}

.dialog-businesstags-warp .bd .r {
    float: right;
    color: #999;
}

.dialog-businesstags-warp .bd .tit-name {
    width: 95px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

.dialog-businesstags-warp .bd .tit {
    margin-bottom: 20px;
}

.dialog-businesstags-warp .bd .tit .modifytitname-btn-warp {
    color: #999;
}

.dialog-businesstags-warp .bd .tit .tit-input {
    width: 230px;
    height: 16px;
    padding: 8px 10px;
    line-height: 16px;
}

.dialog-businesstags-warp .bd .con .potion-tit-input {
    width: 230px;
    height: 16px;
    padding: 8px 10px;
    line-height: 16px;    
}

.dialog-businesstags-warp .bd .tit .tit-input:hover {
    border-color: #84A3FF;
}

.dialog-businesstags-warp .bd .con .potion-tit-input:hover {
    border-color: #84A3FF;
}

.dialog-businesstags-warp .bd .small-btn {
    padding: 0;
    height: 34px;
    width: 44px;
    vertical-align: top;
}

.dialog-businesstags-warp .bd .con {
    border-top: solid 1px #D8D8D8;
    padding-top: 20px;
}

.dialog-businesstags-warp .bd .con .item-allpotion {
    margin-top: 20px;
}

.dialog-businesstags-warp .bd .con .item-allpotion .c {
    margin-bottom: 10px;
}

.dialog-businesstags-warp .bd .con .con-textarea {
    width: 230px;
    padding: 8px 10px;
    line-height: 20px;
}

.dialog-businesstags-warp .bd .con .con-textarea:hover {
    border-color: #84A3FF;
}

.dialog-businesstags-warp .bd .con .add-potion {
    border-top: solid 1px #d8d8d8;
    margin-top: 20px;
    padding-top: 20px;
}

.dialog-businesstags-warp .bd .con .ps {
    margin-top: 4px;
    margin-left: 100px;
    color: #999;
}

.dialog-businesstags-warp .fd {
    text-align: right;
    margin-top: 38px;
}

.dialog-businesstags-warp .fd .button-submit {
    margin-right: 15px;
}
/*下拉框样式 begin*/
.mn-select-title.potion-mn-select-list-title{
    height: 32px;
    line-height: 32px;
}
.crm-setting-tageditselect .ui-select-item{
    width: 220px;
}
/*end*/
.user-define-field-type-name{
    display: inline-block;
    line-height: 21px;
    margin-top: 5px;
    font-size: 14px;
    color: #b5b5b5;
}

.user-define-field-type{
    width: 250px!important;
}
.user-define-field-type .mn-select-title{
    height: 34px!important;
    line-height: 34px!important;
}
.user-define-field-type .ui-select-item {
    width: 220px;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
}