/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-11-03
 */

.crm-button-radius{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}.crm-crmsettings-filterinfo{background:#fff;line-height:38px;border:1px #d8d8d8 solid;padding:0 12px;margin-top:15px;display:none}.crm-crmsettings-filterinfo span{font-weight:700;padding:0 6px}.crm-crmsettings-filterinfo a{cursor:pointer}