#profile .head-img-wrap img{width:150px;height:150px;margin-right:0px;border:#CCC solid 1px;}
#profile a.depw-tabs-a {
	margin-right: 1px;
}
.profile-left-dl{
	border-bottom:1px dotted #ccc;
    line-height:28px;
    padding-bottom:10px;
    padding-left:16px;
}
.profile-left-dl:last-child{border-bottom:none;}
.profile-left-dl .profile-star-img{vertical-align:middle;margin-left:5px;}
.profile-left-dl dt{margin-right:6px;}
.profile-left-dl dd{padding-right:20px;}
.profile-left-dl dd.pld-pad-left{padding-left:30px;}
.profile-left-dl dd.pld-text-right{text-align:right;}
.profile-left-dl dd span.number-padl01{padding-left:22px;}
.profile-left-dl dd span.number-padl02{padding-left:10px;}
.profile-name-note{
    font-size: 14px;
    vertical-align: middle;
	overflow:hidden;
    margin-top: 4px;
}
#profile h1.depw-title{padding-bottom:10px;}
#profile h1.depw-title .employee-namel{
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#profile .profile-right-map{line-height:150px;border:#ebebeb solid 1px;text-align:center;}

/*职位显示 多余字体隐藏*/
#profile .circle-job{display: block;width:334px;height:17px;line-height:17px;text-overflow:ellipsis;overflow: hidden;white-space:nowrap;
    margin-bottom: -16px;
}

.profile-count{}
.profile-count .person-eff{background-color:#b1d451;text-align:center;width:100%;border-collapse:inherit;border-spacing:1px;}
.profile-count .person-eff td,.profile-count .person-eff th{height:22px;text-align:center;}
.profile-count .person-eff th{background-color:#bcda6a;font-weight:bold;}
.profile-count .person-eff td.td-bg-title{background-color:#cee492;}
.profile-count .person-eff td.td-bg-white{background-color:#ffffff;}
.profile-count .person-eff td.td-bg-bot{background-color:#e9f3cd;}
.profile-count .person-eff td .project-title-r,
.profile-count .person-eff td .month-title-l{color:#ffffff;display:block;}
.profile-count .person-eff td .project-title-r{text-align:right;padding-right:5px;}
.profile-count .person-eff td .month-title-l{text-align:left;padding-left:5px;}

#profile .profile-tabs .filter{
    padding:10px 20px;
    line-height: 2em;
    position: relative;
	border-top: 1px solid #E8E8E8;
}
#profile .profile-tabs .filter label{
    color:#999999;
}
#profile .profile-tabs .filter .sub-type .filter-field{
    display: none;
}
#profile .profile-tabs .filter .state-active{
    background: #0082CB;
    color:#ffffff;
}
#profile .profile-tabs .filter .search-wrapper{
    position: absolute;
    top:8px;
    right:20px;
}
#profile .profile-tabs .ui-tab-item a:hover{text-decoration:underline;}
#profile .profile-tabs .ui-tab-item-current a{color: #DD4B39;}
#profile .ui-tab-item a {padding:0;}

#profile .r-map-sign-wrap{text-align:center;line-height:120px;padding:16px;}
#profile .map-flag{
    background: url(../../assets/images/staticmapb.png) no-repeat 2px 2px;
}
#profile .map-flag a{
    display: block;
    width:100%;
    height:100%;
}
#profile .profile-limgbot-wrap{padding:0 0 16px 16px;color:#666666;}
#profile .edit-user-profile-l{position:absolute;right:0px;top:10px;padding:0 16px 0 10px;background-color:#FFF;font-size:13px;}
#profile .chat-l{
    background-color: #FFFFFF;
    font-size: 13px;
    padding: 0 20px 0 10px;
    position: absolute;
    right: 0;
    top: 10px;
}
#profile h1.depw-title{position:relative;white-space:nowrap;overflow:hidden;}
#profile .depw-text{padding-top:0px;height:28px;margin-top:-5px;font-size:14px;word-wrap:break-word;padding-right:140px;padding-left:166px;*padding-left:16px;}
/*#profile .working-state{font-size:13px;padding-left:10px;width:200px;display:inline-block;overflow:hidden;text-overflow: ellipsis;}*/

#profile .userinfo-list{margin-top:20px;font-size:14px;}
#profile .userinfo-list dt{width:80px;text-align:right;color:#999;}
#profile .userinfo-list dd{margin-left:10px;color:#333;word-break:break-all;padding-right:5px;width:460px;}

#profile .head-img-wrap{}

#profile .attach-panel .img-list-wrapper,
#profile .attach-panel .attach-list-wrapper,
#profile .attach-panel .audio-list-wrapper{position:relative;margin-top:16px;}
#profile .attach-panel .search-wrap{position: absolute;top:-96px;right:16px;}

.pamrk-apv-dialog .ui-dialog-text{padding:10px;}
.pamrk-apv-dialog .pamrk-list-wrap{height:500px;overflow:auto;}
.pamrk-apv-dialog .pamrk-btn-wrap{text-align:right;}
.pamrk-apv-dialog .pamrk-list-table{width:100%;background-color:#abd144;text-align:center;border-collapse:inherit;border-spacing:1px;}
.pamrk-apv-dialog .pamrk-list-table th{background-color:#bcda6a;line-height:23px;text-align:center;}
.pamrk-apv-dialog .pamrk-list-table td{background-color:#ffffff;line-height:34px;}
.pamrk-apv-dialog .pamrk_tdimg_head{vertical-align:middle;margin-right:10px;display:inline-block;}


#profile .ui-tab-item a{}
#profile .tpl-l h4.rightc-title {
    background-color: #FAFAFA;
    border-bottom: 1px solid #E1E1E1;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    position: relative;
}
#profile .myuser-head-wrap{height:150px;}
#profile .myuser-head-wrap .myuser-head-img{width:150px;}
#profile .c-profile-limgbot-wrap{
	border-top:1px dotted #ccc;
    color:#646464;
    font-weight:normal;
    line-height:38px;
    margin: 6px 16px 0 166px;
}
#profile .c-profile-limgbot-wrap strong{font-weight:normal;}
#profile .c-profile-limgbot-wrap .c-sms-alert{padding-left:15px;}
#profile .plan-calendar{
    width:auto;
    padding:10px;
}
#profile .tpl-c .ui-tab-trigger-wrapper{border-radius:3px 3px 0 0;border:#d8d8d8 solid 1px;border-bottom:none;}