.m-partneradd{
	font-size: 16px;
}
.m-partneradd input{
	font-size: 16px;
}
.m-partneradd .partneradd-title{
	background: #f1f1f1;
	border-bottom: 1px #d5d5d5 solid;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
}
.m-partneradd .partneradd-list{
	padding: 0 55px;
}
.m-partneradd .partneradd-list .list-label{
	padding: 0 10px;
}
.m-partneradd .partneradd-list td{
	padding: 20px 0;
}
.m-partneradd .partneradd-list td input{
	border: 1px #c2c8ce solid;
	border-radius: 4px;
	padding: 5px;
}
.m-partneradd .partneradd-bottom{
	border-top: 1px #c2c8ce solid;
	padding: 16px;
}
