.crm-attachment-container{
	height: 100%;
	padding: 5px 15px 15px 15px;
	border:1px #d8d8d8 solid;
	background-color: #fff;
}

.crm-attachment-title{
	font-size: 18px;
	padding: 10px 0px;
}

.crm-attachment-tag-container{
	padding-bottom: 15px;
}

.crm-attachment-tag-lable{
	color: #999;
}

.crm-attachment-tag{
	margin-right: 10px;
	cursor: pointer;
}

.crm-attachment-tag-disable{
	color: #aaa;
	cursor: default;
}

.crm-attachment-tag-disable:hover{
	text-decoration: none;
}

.crm-attachment-header{
	background-color: #f6f7f8;
	border:1px #d8d8d8 solid;
	padding: 15px;
	margin-top: 15px;
	position: relative;
}

.crm-attachment-header a{
	margin-right: 10px;
	cursor: pointer;
}

.crm-attachment-file-table{
	border-left: 1px #d8d8d8 solid;
	border-right: 1px #d8d8d8 solid;
	border-bottom: 1px #d8d8d8 solid;
	width: 100%;
}

.crm-attachment-file-head th{
	background-color: #f2f4f6;
	border-right: 1px #c6c9ca solid;
	border-bottom: 1px #d8d8d8 solid;
	padding:5px; 
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}

.crm-attachment-file-th0{
	width: 15px;
}
.crm-attachment-file-th1{
	width: 276px;
}
.crm-attachment-file-th2{
	width: 60px;
}

.crm-attachment-file-th4{
	width: 60px;
}

.crm-attachment-file-th5{
	width: 150px;
}

.crm-attachment-file-th6{
	width: 130px;
}

.crm-attachment-file-body tr{
	border-bottom: 1px #e3e6eb solid;
}

.crm-attachment-file-body td{
	padding: 5px;
}

.crm-attachment-file-body a{
	cursor: pointer; 
	margin-right: 10px;
}

.crm-attachment-image{
	width: 16px;
	height: 16px;
	display: block;
}

.crm-attachment-file-name{
	padding-left: 10px;
	width: 226px;
}

.crm-attachment-file-tr-active{
	background-color: #f3f3f3;
}

.crm-attachment-file-tr-selected{
	background-color: #ffffcc;
}

.crm-attachment-file-td{
	color: #999;
}

.crm-attachment-page{
	margin-top: 10px;
}

.crm-attachment-no-file{
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.crm-attachment-no-file-flash{
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.crm-attachment-no-file-info{
	color: #999;
}

.crm-attachment-no-file-upload{
	cursor: pointer;
}

.crm-attachment-file-flash-container object{
	position: absolute;
	cursor: pointer;
	width: 30px;
	height:20px;
	top: 13px;
	background-color:rgba(255,255,255,0);
}