/**
 * 纷享模块样式
 * @Author: 纷享网页前端部
 * @Date: 2014-11-03
 */

.crm-salestarget-opportunity-head{height:30px}.crm-salestarget-no-opportunity{text-align:center;color:#999;padding-top:20px}.crm-salestarget-opportunity-row-selected{background-color:#ffc}.crm-salestarget-opportunity-name{color:#000;max-width:200px;display:inline-block}.crm-salestarget-opportunity-customer-name{max-width:100px;_width:100px}.crm-salestarget-opportunity-table td{line-height:23px}