/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-11-03
 */

.department h4.rightc-title{position:relative;line-height:40px;height:40px;padding-left:16px;background-color:#fafafa;border-bottom:#e1e1e1 solid 1px}.department .entnetworkdisk-nav-list{border-top:#e8e8e8 solid 1px;padding:16px 0;margin-top:10px}