@charset "utf-8";
/*加载公用css文件*/
@import "../base";

/*初始化变量*/
$main-font-size: 12px;
$animate: 0.1s;
$base-z-index: 1;
$base-border-radius: 2px;
$base-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
$split-line-color: rgba(230,230,230,1);
@mixin base-box{box-shadow: $base-box-shadow; border-radius: $base-border-radius; background-color: rgba(255,255,255,1);
};
@mixin single-line-font($default:$main-font-size){
    height: $default; font-size: $default; line-height: $default;
}

/*正文开始*/
.analyse{position: relative; width: 100%; height: 100%; padding: 0 16px 12px 16px; overflow-y: auto;
    .content{position: absolute; top: 48px; right: 16px; bottom: 12px; left: 16px;
        .top-con{float: left; position: relative; width: 100%;
            .active-area{position: absolute; top: 0; right: 474px; bottom: 0; left: 0; background-color: rgba(255,255,255,1); @include base-box; padding: 24px;
                .title{float: left; width: 100%; @include single-line-font(20px);}
                .active-box{float: left; width: 100%; height: 286px; overflow: hidden; margin-top: 24px;
                    .active{float: left; width: 100%; height: 100%; overflow: hidden;}
                }
            }
            .details-area{float: right; width: 458px; height: 378px; background-color: rgba(255,255,255,1); @include base-box; padding: 24px;
                .title{float: left; width: 100%; @include single-line-font(20px);}
                .details-box{float: left; width: 100%; height: 286px; overflow: hidden; margin-top: 24px; overflow-y: auto;
                    .term{float: left; width: 100%; margin-bottom: 18px;
                        .term-title{float: left; width: 56px; color: rgba(120,120,120,1); @include single-line-font(13px);}
                        .term-text-box{float: left; width: 328px; color: rgba(90,90,90,1); margin-left: 20px;
                            .li{float: left; width: 100%; @include single-line-font(13px); margin-bottom: 12px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
                            .li:last-child{margin-bottom: 0;}
                        }
                    }
                    .term:last-child{margin-bottom: 0;}
                }
            }
        }
        .mid-con{float: left; position: relative; width: 100%; height: 394px; margin: 16px 0;
            .analysis-area{float: left; width: 50%; height: 100%; padding-right: 8px;
                .analysis-box{float: left; width: 100%; height: 100%; overflow: hidden; background-color: rgba(255,255,255,1); @include base-box; padding: 24px;
                    .title{float: left; width: 100%; @include single-line-font(20px);}
                    .analysis-block{float: left; width: 100%; height: 302px; overflow: hidden; margin-top: 24px;
                        .analysis{float: left; width: 100%; height: 100%; overflow: hidden;}
                    }
                }
            }
            .distribution-area{float: right; width: 50%; height: 100%; padding-left: 8px;
                .distribution-box{float: left; width: 100%; height: 100%; overflow: hidden; background-color: rgba(255,255,255,1); @include base-box; padding: 24px;
                    .title{float: left; width: 100%; @include single-line-font(20px);}
                    .distribution-block{float: left; width: 100%; height: 302px; overflow: hidden; margin-top: 24px;
                        .distribution{float: left; width: 100%; height: 100%; overflow: hidden;}
                    }
                }
            }
        }
        .bot-con{float: left; position: relative; width: 100%; height: 128px; background-color: rgba(255,255,255,1); @include base-box; display: flex; justify-content: center; align-items: center; color: rgba(120,120,120,1); font-size: $main-font-size +12;
            .blue{color: rgba(81,129,173,1); background-color: transparent !important;}
            .ico{font-size: $main-font-size + 21;}
            .a{text-decoration: underline; font-size: $main-font-size +10;}
        }
    }
}