.give-vip-content{
    .el-col{
        font-size: 13px;
        .el-input{
            width: 220px;
        }
    }
    span{
        font-size: 13px;
        width: 100px;
        text-align: right;
        display: block;
    }
}

.add-export{
    .el-form-item{
        margin-bottom: 10px;
    }
    .el-input{
        width: 300px;
    }
    i{
        font-size: 12px;
    }
}