/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-11-03
 */

.home-right-content .rightc-fontlist li{margin-top:0;position:relative}.home-right-content .rightc-fontlist li a{color:#333}.home-right-content .rightc-fontlist li a:hover{text-decoration:none}.home-right-content .rightc-fontlist li input{vertical-align:middle;margin-right:5px}.home-right-content .rightc-fontlist li.hr-vote{background:url(../../assets/images/home-icons.png?1) no-repeat -166px -258px;padding-left:25px}.home-right-content .rightc-fontlist li.hr-vote a{word-break:break-all}.home-right-content .rightc-fontlist li span.rfl-li-apv{position:absolute;top:0;right:0}