@import "@/styles/common.scss";

.give-vip-content{
    .el-col{
        font-size: 13px;
        .el-input,.el-select{
            width: 200px;
        }
        &.right{
            text-align: right;
            padding-right: 5px;
        }
    }
    span{
        font-size: 13px;
        width: 100px;
        text-align: right;
        display: block;
    }
    .form{
        width: 100%;
        overflow: hidden;
        h1{
            font-size: 14px;
            color: $blue;
            font-style: normal;
            margin: 15px 0 15px;
        }
        table{
            width: 100%;
            border:1px solid #f1f1f1;
            box-sizing: border-box;
            td{
                font-size: 13px;
                background: #fff;
                border-bottom: 1px solid #f1f1f1;
                box-sizing: border-box;
                padding: 6px;
                width: 250px;
                &.left{
                    background: #f1f1f1;
                    width: 170px;
                    text-align: right;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}
