.crm-select-filterbar {
    background: #fff;
    border: solid 1px #d8d8d8;
}

.crm-select-filterbar .orange {
    color: #FF6300;
}

.crm-select-filterbar .select-filterbar-hd {
    position: relative;
}

.crm-select-filterbar .select-filterbar-hd h1 {
    padding: 10px 16px;
    font-size: 14px;
    color: #414141;
    background: #F5F7F7;
}

.crm-select-filterbar .select-filterbar-bd .rows {
    border-bottom: dotted 1px #d8d8d8;
    padding: 8px 0;
    position: relative;
}

.crm-select-filterbar .select-filterbar-bd .rows.noborder {
    border: none;
}

.crm-select-filterbar .select-filterbar-bd .more-rows {
    padding: 8px 0;

    text-align: center;
}

.crm-select-filterbar .select-filterbar-bd .more-rows .more-rows-btn {
    width: 200px;
    padding-right: 10px;
    background-image: url(../../assets/images/more_arrow_down.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.crm-select-filterbar .select-filterbar-bd .more-rows .more-rows-btn.up {
    background-image: url(../../assets/images/more_arrow_up.gif);
}

.crm-select-filterbar .select-filterbar-bd .rows .row-tit {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90px;
    display: inline-block;
    text-align: right;
    color: #999;
    padding-left: 16px;
    line-height: 25px;
    *line-height: 20px;
}

.crm-select-filterbar .select-filterbar-bd .isselect-rows {
    border-bottom: dotted 1px #d8d8d8;
    padding: 8px 0 4px 0;
    position: relative;
}

.crm-select-filterbar .select-filterbar-bd .isselect-rows .select-tit {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 102px;
    display: inline-block;
    text-align: right;
    color: #414141;
    padding-left: 16px;
    line-height: 22px;
}

.crm-select-filterbar .select-filterbar-bd .rows .mh {
    width: 10px;
    float: left;
    color: #999;
    line-height: 25px;
}

.crm-select-filterbar .select-filterbar-bd .rows .more-option-btn {
    width: 26px;
    position: absolute;
    top: 12px;
    *top: 6px;
    right: 10px;
    padding-right: 10px;
    background-image: url(../../assets/images/more_arrow_down.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.crm-select-filterbar .select-filterbar-bd .rows .more-option-btn.up {
    background-image: url(../../assets/images/more_arrow_up.gif);
}

.crm-select-filterbar .select-filterbar-bd .clear-option-btn {
    width: 26px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.crm-select-filterbar .select-filterbar-bd .rows .row-option-warp {
    width: 740px;
    margin-left: 120px;
    zoom: 1;
    height: auto;
}

.crm-select-filterbar .select-filterbar-bd .rows .row-option-warp.minidisplay {
    overflow: hidden;
    height: 22px;
}

.crm-select-filterbar .select-filterbar-bd .rows .row-option-warp .row-option {
    margin-right: 20px;
    white-space: nowrap;
    display: inline-block;
}

.crm-select-filterbar .select-filterbar-bd .isselect-rows .select-option-warp {
    width: 740px;
    margin-left: 120px;
}

.crm-select-filterbar .select-filterbar-bd .isselect-rows .select-option-warp .select-option {
    margin-right: 20px;
    white-space: nowrap;
    border: solid 1px #ccc;
    padding: 1px 4px;
    margin-bottom: 4px;
    float: left;
}

.crm-select-filterbar .select-filterbar-bd .isselect-rows .select-option-warp .select-option .del-btn {
    cursor: pointer;
}

.crm-select-filterbar a {
    color: #333;
}

.crm-select-filterbar a:hover {
    text-decoration: none;
    color: #427fed;
}

.crm-select-filterbar .label {
    margin-left: 5px;
    width: 100px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.crm-select-filterbar .clear-all-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #fff;
    border: solid 1px #d8d8d8;
    border-radius: 2px;
    padding: 0 6px;
}