@import "@/styles/common.scss";

.bg-blue {
    background: $blue-4;
}

.bg-blue-light {
    background: $blue-2;
}

.header {
    text-align: center;
    margin: 10px;
}

.content {
    background-color: #f9fafc;
    border: 1px solid rgb(201, 214, 229);
    border-radius: 4px;
    padding: 7px;
    font-size: 14px;

    .otherInfo-button {
        padding: 2px;
        border: 1px dotted $blue;
        border-radius: 4px;
        background: $blue-4;
        color: white;
        white-space: nowrap;

        &:hover {
            background-color: $blue-6;
            cursor: pointer;
        }
    }

    .upload-demo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .upLoad-button {
            padding: 2px;
            border: 1px dotted $blue;
            border-radius: 4px;
            background: $blue-4;
            color: white;
            white-space: nowrap;

            &:hover {
                background-color: $blue-6;
                cursor: pointer;
            }
        }

        /deep/.el-upload-list {
            display: flex;
            justify-content: center;

            .el-upload-list__item {
                margin-top: 0px;
            }
        }
    }

    .el-row-common {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .pointer:hover {
        cursor: pointer;
    }

    .annotation {
        font-size: 5px;
        color: grey;
        white-space: nowrap;
    }

    .star {
        color: red;
    }

    .annotation-red {
        color: red;
        font-size: 10px;
    }

    .el-col-common {
        height: 30px;
        border-radius: 4px;
        border: 1px dotted #f9fafc;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .el-input-common {
        width: 100%;
    }

    .first-row_col {
        height: 35px;
        line-height: 35px;
    }
}

.footer {
    .el-last-row{
        margin-top: 10px;
    }
    .el-last-col {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(201, 214, 229);
        border-radius: 4px;
        .ul{
            .li{
                margin-left: 20px;
            }
        }
    }
}