<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>APM</title>
  <script>
    window.$$rxApmFirstByteTime = new Date() * 1
    var encodeDisabled = '%3C%24%3DwebAgent.disabled%24%3E'
    var disabled = '<$=webAgent.disabled$>'
    // fe test, set disabled to 'true'
    if (disabled === decodeURIComponent(encodeDisabled)) {
      disabled = 'true'
    }
    window.$$rxApmSetting = {
      disabled: disabled === 'true',
      showLog: '<$=webAgent.showLog$>' === 'true',
      openTracing: '<$=webAgent.openTracing$>' === 'true',
      transFrequency: +'<$=webAgent.transFrequency$>',
      apiHost: '<$=webAgent.apiHost$>',
      agentId: '<$=webAgent.agentId$>',
      tierId: '<$=webAgent.tierId$>',
      appId: '<$=webAgent.appId$>'
    }
  </script>
  <script src="./static/common/webpp.min.js"></script>
  <link rel="stylesheet" href="./static/theme/v1.css">
  <script src="./static/common/jquery.js"></script>
  <script src="./static/common/echarts.js"></script>
  <script src="./static/common/lodash.js"></script>
  <script src="./static/common/d3.js"></script>
  <script>
    window.$$apm = {
      env: '<$=env$>',
      logoUrl: '<$=logoUrl$>',
      loginUrl: '<$=loginUrl$>',
      outerRemoteHost: '<$=outerRemoteHost$>',
      alarmHost: '<$=alarmHost$>',
      grafanaLoginUrl: '<$=grafanaLoginUrl$>',
      grafanafullScreenUrl: '<$=grafanafullScreenUrl$>',
      locale: {
        startTime: '<$=__("startTime")$>',
        endTime: '<$=__("endTime")$>',
        max: '<$=__("max")$>',
        min: '<$=__("min")$>',
        avg: '<$=__("avg")$>',
        value: '<$=__("value")$>',
        count: '<$=__("count")$>'
      }
    }

  </script>
</head>

<body>
	<div id="app">
	</div>
	<!-- built files will be auto injected -->
</body>
<!-- <script src="./static/common/element-ui/index.js"></script> -->

</html>
