/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-09-02
 */

#circles-atcircle .head-img-wrap{display:none}#circles-atcircle .circles-nav-list{}#circles-atcircle .circle-title{margin:20px 0 0 20px;color:#999}.department .tpl-r .home-right-content .circle-name{display:inline-block;width:115px;height:1.5em;overflow:hidden}