/* 清理浮动 */
.clearfix{

}

/* for IE6 IE7 */
.f-fl (){
	display:block;
}
.f-fr (){
    display: block;
}

.f-fl (){
    float: left;
}

.f-fr (){
    float: right;
}

.f-hide (){
    display: none;
}

.f-show (){
    display: block;
}