.crm-customer-export-container{
	padding: 0px 20px 20px;
	background-color: #fff;
}

.crm-customer-export-title{
	font-size: 18px;
	padding: 10px 0px;
}

.crm-customer-export-table{
	margin:20px;
}

.crm-customer-export-table td{
	padding: 10px 0px;
}

.crm-customer-export-table .crm-customer-export-belong-to {
	display: inline-block;
	max-width: 164px;
	overflow: hidden;
	vertical-align: middle;
	max-height: 60px;
	line-height: 20px;
	margin-top: -5px;
	word-break: break-all;
}
.crm-customer-export-keyword-input{
	width: 300px;
	border: 1px #c6c6c6 solid;
	height: 30px;
	padding-left: 10px;
}

