@import "../base";
.search-address{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:$white;
  .data-bd{

  }
}

.search-hd{
  @include flex-display;
  padding: 8px 10px;
  color: $base-color;
  @include flex-align-items(center);
  height: 28px;
  @include border-b();
  @at-root .arrow-left{
    display: block;
    margin-right: 10px;
    @include background-image('../../images/ui/common/right_arrow.png');
    width: 7px;
    height: 13px;
    background-size: cover;
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
  }
  @at-root .search-input-wrap{
    position: relative;
    @include flex(1);
    @include flex-center;
    background: #fff;
    input{
      background: #f2f2f2;
      width: 100%;
      display: block;
      height: 28px;
      border-radius: 4px;
      box-sizing: border-box;
      padding-left: 32px;
      -webkit-appearance: none;
      outline: none;
      border: 0;
    }
    .search-icon{
      @include background-image('../../images/ui/common/search.png');
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top:50%;
      margin-top: -6px;
      left:10px;
    }
  }
  @at-root .search-btn{
    display: block;
    margin-left: 10px;
    font-size: 14px;

  }
}




.data-position{
  padding:0 10px;
  @at-root .data-hd{
    height: 30px;
    line-height: 30px;
    background: #f8f8f8;
  }
  li{
    @include border-b();
    height: 50px;
    @include flex-display;
    @include flex-align-items(center);
    &:last-child{
      border: 0;
      background: 0;
    }
    i{
      @include background-image('../../images/ui/common/ico_address.png');
      width: 15px;
      height: 15px;
      background-size: cover;
      margin-right: 7px;
      display: block;
    }
   span{
     display: block;
      font-size: 14px;
   }
  }
}

.empty{
  @include flex-display;
  @include flex-direction(column);
  @include flex-align-items(center);
  color: #999;
  img{
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 60px;
  }
  .font-big{
    margin-top: 15px;
    font-size: 13px;
  }
  .font-small{
    margin-top: 15px;
    font-size: 11px;
  }
}
