/**
 * For Admin
 * Admin入口样式
 */
html{
    overflow-y: scroll;
}
html,body{
    background: #efefef;
}
.app-wrapper{
    width:100%;
}
.app-inner{
    width:960px;
    margin:0 auto;
    position: relative;
}
.hd{
    border-top:1px solid #d1d1d1;
    border-bottom:1px solid #d1d1d1;
    position: relative;
    z-index: 100;
}
.hd-t{
}
.hd-b{
    height:35px;
    background: #315ca2;
}
.tpl{
    border: 1px solid #D5D5D5;
    background: #F4F7FA;
    margin-top: 12px;
    width:100%;
    zoom:1; /* for IE6 IE7 */
}
.tpl:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.tpl-l,
.tpl-c,
.tpl-r{
    float:left;

}
.tpl-c{
    width:800px;
    background: #fff;
    overflow: hidden;
}
.tpl-c .tpl-inner{
    min-height:544px;
    border-left:1px solid #d5d5d5;
}
.tpl-l,
.tpl-r{
    width:160px;
    _overflow:hidden;
}
.tpl-l{
    background: #F4F7FA;
}
.tpl-l .tpl-inner{
    min-height: 544px;
}
.tpl-nav-item{
    float: left;
    display:inline-block;
}
.tpl-nav-item a{
    display: inline-block;
    _zoom:1;
    height:35px;
    line-height: 35px;
    padding:0 38px;
    color:white;
    font-size:15px;
    text-decoration: none;
}
.tpl-nav-item a:hover{
    background: #224887;
}
.tpl-nav-item .state-active{
    background: #1a3c76;
}
.hd .account-info{
    position: relative;
    height: 60px;
    visibility: hidden;
}
.hd .account-info .section-l{
    position: absolute;
    bottom: 5px;
    left:0;
}
.hd .account-info .section-r{
    position: absolute;
    bottom: 10px;
    right:0;
}
.hd .account-info .logo-img{
    height:35px;
}
.hd .account-info .separator{
    color:#cccccc;
    padding:0 5px;
}
.ft .links{
    text-align: center;
    padding:40px 0 70px 0;
}
.ft .links .separator{
    padding:0 10px;
    color:#999999;
}
/* 子模板切换ajax遮罩 */
.sub-tpl-switch-mask{
    background: white;
    opacity: 1;
    /*background: url(../images/loading.gif) no-repeat center center;*/
}

/*登录弹框 start*/
.admin-login-form .captcha-img{
    width:60px;
    height:22px;
    vertical-align: middle;
    cursor: pointer;
}
.admin-login-form .field-container{
    padding:30px 0;
}
.admin-login-form .ff-label{
    width:100px;
    text-align: right;
    font-size:14px;
    line-height: 30px;
}
.admin-login-form .f-field{
    margin-bottom: 10px;
}
.admin-login-form .textfield{
    width:220px;
    height:30px;
    line-height: 30px;
    padding:0 5px;
    border:1px solid #7bcce7;
    font-size:14px;
}
.admin-login-form .captcha-field{
    width:50px;
}
.admin-login-form .captcha-img{
    margin: 0 10px;
}
.admin-login-form .ui-dialog-bbar{
    height:44px;
    padding-right:30px;
    border:1px solid #e0e0e0;
    background: #eff4f8;
    text-align: right;
}
.admin-login-form .f-sub{
    position: relative;
    top:7px;
}
.admin-login-form .error-tip{
    width:232px;
    height:40px;
    line-height: 40px;
    border:1px solid #cacaca;
    background: #ffffe5;
    position: absolute;
    top:0;
    left:0;
}
.admin-login-form .error-tip .error-content{
    padding-left:32px;
    background: url(../images/admin/icon-error.png) no-repeat 12px 14px;
    color:#cc0000;
    font-size:12px;
}
.admin-login-form .error-tip .close-l{
    display: block;
    line-height: 1em;
    position: absolute;
    top:5px;
    right:10px;
    cursor: pointer;
}
.admin-login-form .error-tip .icon-triangle{
    display: block;
    width:11px;
    height:7px;
    position: absolute;
    bottom:-7px;
    left:30px;
    background: url(../images/admin/icon-triangle-1.png) no-repeat;
}
.admin-login-form .help-tip{
    width:208px;
    padding:10px;
    border:1px solid #cacaca;
    background: #ffffe5;
    position: absolute;
    top:-35px;
    left:120px;
}
.admin-login-form .help-content h3{
    padding-left:20px;
    margin-bottom: 8px;
    background: url(../images/admin/icon-question-2.png) no-repeat 0px center;
    color:#315ca1;
    font-size:12px;
}
.admin-login-form .help-tip .close-l{
    display: block;
    line-height: 1em;
    position: absolute;
    top:5px;
    right:10px;
    cursor: pointer;
}
.admin-login-form .help-tip .icon-triangle{
    display: block;
    width:11px;
    height:7px;
    position: absolute;
    bottom:-7px;
    right:30px;
    background: url(../images/admin/icon-triangle-1.png) no-repeat;
}
.admin-login-form .account-field-wrapper{
    position: relative;
}
.admin-login-form .help-tip-l{
    position: absolute;
    right:52px;
    top:8px;
    width:16px;
    height:16px;
    background: url(../images/admin/icon-question.png) no-repeat;
    cursor: pointer;
}
.admin-login-form .f-sub{
    height:30px;
    font-size:14px;
}
/* 修改管理员密码 start */
.fs-admin-change-pwd .field-container{
    padding:27px 0 0 0;
}
.fs-admin-change-pwd .f-field{
    margin-bottom: 20px;
}
.fs-admin-change-pwd .ff-label{
    width:110px;
    font-size:15px;
    color:#333333;
    text-align: right;
}
.fs-admin-change-pwd .ui-dialog-bbar{
    height:36px;
    background: #eff4f8;
}
.fs-admin-change-pwd .ui-dialog-bbar .bbar-inner{
    margin:5px 5px 0 0;
}
.fs-admin-change-pwd .ff-label{
    line-height: 26px;
}
.fs-admin-change-pwd .textfield{
    width:224px;
}
.fs-admin-change-pwd .f-field-star{
    color:#ff0000;
    font-size:10px;
}
.fs-admin-change-pwd .new-pwd-field-wrapper .ff-value{
    position: relative;
}
.fs-admin-change-pwd .new-pwd-field-wrapper .fs-validate-input-tip{
    position: absolute;
    top:0;
    left:232px;
    width:226px;
    height:auto;
    line-height: 1em;
    padding:5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .admin-login-form .textfield {
    line-height: 15px;
    outline: none;
    }
}