/**
 * 公共样式设置
 */
* html,* html body{background-image:url(about:blank);background-attachment:fixed} /* 削弱ie6下的定位滚动抖动副作用 */
html,body{
    background-color:#e5e5e5;
	color:#333333;
    -webkit-font-smoothing:antialiased; /* mac下会看的更圆润 */
}
body{
    overflow: visible;
}
/* 字体覆盖base设置 */
body,button,input,select,textarea{
    font:13px/1.5 tahoma,arial,'Hiragino Sans GB','Hiragino Sans GB W3',\5b8b\4f53;
}
a:active {
    background-color:transparent\9; /*去ie 光标按下有默认背景*/
}
*:focus {outline: none;}/*去掉谷歌默认黄色边框*/
::-webkit-file-upload-button { cursor:pointer; }
input,textarea,select{
    outline:none;
    resize: none;
}
input::-ms-clear{display:none;}/*去掉IE10 input默认关闭叉*/
.vm{vertical-align: middle;}
.marg10{margin-top:10px!important;}
.marg20{margin-top:20px!important;}
.marg40{margin-top:40px!important;}
.padL25{padding-left:25px!important;}
.padL20{padding-left:16px!important;}
.margl-btn{margin-left:10px!important;}
.ml15{margin-left:15px!important;}
.mr15{margin-right:15px!important;}
.mr6{margin-right:6px!important;}
.text-align-c{text-align: center;}
.bg-white{background-color:#fff;}
.margb16{margin-bottom:16px!important;}
.margt16{margin-top:16px!important;}
.padb16{padding-bottom:16px !important;}

.card-border-rad{border-radius:3px;border:#d8d8d8 solid 1px;}
.card-border-radtop{border-radius:3px 3px 0 0;}
.card-border-radbot{border-radius:0 0 3px 3px;}
.cbr-tt{border:#d8d8d8 solid 1px;border-bottom:none;}
.cbr-tb{border:#d8d8d8 solid 1px;border-top:none;}

button{*overflow:visible;}/*去除IE6、7 padding 左右默认值*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none /*去虚线框*/;
    padding: 0;
}
/*Attach public*/
.left-fonton,.left-fonton a{color:#dd4b39;} /*左侧字选中颜色*/
.left-font,.left-font a{color:#333333;} /*左侧字默认颜色*/
.left-font a:hover{background-color:#f1f1f1;} /*左侧 光标划过背景颜色*/

.nav-fonton,.nav-fonton a{color:#dd4b39;} /*TAG导航字选中颜色*/
.nav-font,.nav-font a{color:#0082cb;} /*TAG导航字默认颜色*/
.nav-fonton-border{border:#ebebeb solid 1px;} /*TAG导航字选中边框颜色*/
.nav-fonton-bg{background-color:#f5f5f5;} /*TAG导航字选中背景颜色*/
.nav-font a:hover{text-decoration:underline;} /*TAG导航字光标划过有下划线*/

.search-fonton{color:#333333 !important;} /*搜索 输入字颜色*/
.search-font{color:#b5b5b5;} /*搜索 选默认提示字颜色*/
.search-border{border:#e5e5e5 solid 1px;} /*搜索 边框颜色*/
.search-button-bg{background-color:#f0f0f0;} /*搜索 按钮背景颜色*/

.img-border{border:#949494 solid 1px;} /*列表图片 边框颜色*/
.img-font{color:#999999;} /*列表图片 标题字颜色*/

.pag-fonton,.pag-fonton a{color:#a3a3a3;} /*分页字选中颜色*/
.pag-font,.pag-font a{color:#333333;} /*分页字默认颜色*/

.button-blue{
    color:#ffffff;
    border:#cae0f4 solid 1px;
    border-radius:0px;
    padding:0 20px;
    line-height:28px;
    cursor:pointer;
    background-color:#2781d1;
    *border:none;
/*box-shadow:1px 1px 0px #6bd6fd inset,-1px -1px 0px #6bd6fd inset;
background: -webkit-gradient(linear, left top, left bottom, from(#32a6e4), to(#2681c0));
    background: -moz-linear-gradient(top,  #32a6e4,  #2681c0);
    background: -o-linear-gradient(top, #32a6e4, #2681c0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32a6e4', endColorstr='#2681c0');
    background: linear-gradient(to bottom, #32a6e4, #2681c0);
    _background-color:#2681c0;*/
}
.button-blue:hover{opacity:0.8;filter:alpha(opacity=80);}

.button-green,.button-submit{color:#ffffff;border: 1px solid #66BB55;padding: 0 20px;line-height:28px;cursor:pointer;background-color:#66BB55;*border:none;
/*box-shadow:1px 1px 0px #98d67b inset,-1px -1px 0px #98d67b inset;
background: -webkit-gradient(linear, left top, left bottom, from(#76c955), to(#66b540));
    background: -moz-linear-gradient(top,  #76c955,  #66b540);
    background: -o-linear-gradient(top, #76c955, #66b540);
    background: linear-gradient(to bottom, #76c955, #66b540);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c955', endColorstr='#66b540');
    _background-color:#66b540;*/
}
/*:root .button-green{filter:none;background-color:#66b540}*/
.button-green:hover,
.button-submit:hover{opacity:0.8;filter:alpha(opacity=80);}
/*:root .button-green:hover{filter:none;background-color:#66b540}*/

.button-grey,
.button-gray,
.button-cancel{color:#000000;border:#e2e2e2 solid 1px;border-radius:0px;padding:0 20px;line-height:28px;cursor:pointer;background-color:#fff;
/*box-shadow:1px 1px 0px #ffffff inset,-1px -1px 0px #ffffff inset;
background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
    background: -moz-linear-gradient(top,  #f5f5f5,  #dddddd);
    background: -o-linear-gradient(top, #f5f5f5, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dddddd');
    background: linear-gradient(to bottom, #f5f5f5, #dddddd);
    _background-color:#dddddd;*/
}
.button-grey:hover,
.button-gray:hover,
.button-cancel:hover{opacity:0.8;filter:alpha(opacity=80);background-color:#fff;}

.button-orange{color:#ffffff;border:#fae2c7 solid 1px;border-radius:0px;padding:0 20px;line-height:28px;cursor:pointer;background-color:#ec881d;*border:none;
/*box-shadow:1px 1px 0px #fbda97 inset,-1px -1px 0px #fbda97 inset;
background: -webkit-gradient(linear, left top, left bottom, from(#fbc105), to(#eb991a));
    background: -moz-linear-gradient(top,  #fbc105,  #eb991a);
    background: -o-linear-gradient(top, #fbc105, #eb991a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc105', endColorstr='#eb991a');
    background: linear-gradient(to bottom, #fbc105, #eb991a);
    _background-color:#eb991a;*/
}
.button-orange:hover{opacity:0.8;filter:alpha(opacity=80);}
.button-state-disabled{
    opacity:0.5;
    filter:alpha(opacity=50)progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c955', endColorstr='#66b540');
}
.button-state-disabled:hover{
    opacity:0.5;
    filter:alpha(opacity=50);
    cursor: default ! important;

}
.btn-sdb-green{background-color:#66b540\9;}/*半透明绿色disabled按钮ie兼容*/
/*attach 选项卡切换 public*/
.tag_wrap{/*border-bottom:#ebebeb solid 1px;padding-left:25px;position:relative;height:50px;*/padding-top:1px;}
.tag_wrap label.search-wrap{position:absolute;top:5px;right:20px;}
.tag_wrap li{position:relative;top:1px;}
.attach .ui-tab-panel{display:none;}
.ui-tab-item-current{position:relative;}

/*attach 搜索框 public*/
.search-wrap{}
.search-inp{width:110px;height:22px;line-height:22px;border:#e5e5e5 solid 1px;padding-left:4px;padding-right:20px;color:#b5b5b5;vertical-align:middle;}
.search-btn, .search-select-btn{width:36px;height:24px;line-height:22px;border:#e5e5e5 solid 1px;border-left:none;cursor:pointer;background:url(../images/home-icons.png?1) no-repeat -122px -59px;vertical-align:middle;}
.search-select-btn{background: none;}
.search-select-btn.has-condition{}


/*图片集 背景框*/
.fpt-group:before{content: "";border:#949494 solid 1px;display:inline-block;width:153px;height:115px;position:absolute;left:-3px;top:-3px;z-index:0;}

/* by 13 start */
a{
	color:#0082cb;
}
.color-333333{
	color:#333333;
}
/* by 13 end */

/*attach left public by haibo start*/
.head-img-wrap{
    font-size:18px;
    padding:16px;
}
.head-img-wrap a{color:#333333;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: inline-block;
    max-width: 180px;
}
.head-img-wrap img{width:50px;height:50px;margin-right:10px;}
a.tpl-nav-lb{color:#333333;line-height:25px;padding-left:16px;display:block;word-break:break-all;}
a.tpl-nav-lb:hover{background-color:#f1f1f1;text-decoration:none;}
a.tpl-nav-lbon{color:#dd4b39;font-weight:bold;}
a.tpl-nav-lbon:hover{background-color:inherit;}

a.tpl-nav-lbq{
	padding-left:30px;
	/*background:url(../images/circle_nav.png) no-repeat 8px 6px;padding-left:25px;*/
}
.fni-dep-con .depw-menu-aon{
	/*background:url(../images/circle_navon.png) no-repeat 8px 6px;padding-left:25px;*/
}

/*attach left public by haibo end*/
/* by haibo start */
.color-999999{color:#999999 !important;}
.color-666666{color:#666666 !important;}
.color-ff0000{color:#ff0000;}
.color-blue{color:#0a81cb;}
.color-orange{color:#e0634f;}
.color-red{color:#dd4b39 !important;}

a.fna-blue{color:#0082cb !important;}
a.fna-blue:hover{text-decoration:underline!important;}

a.fna-orange{color:#dd4b39;}
a.fna-orange:hover{text-decoration:underline;}

a.fna-grey{color:#666666;}
a.fna-grey:hover{text-decoration:underline;}

/*列表内容为空提示*/
.info-list-null{padding:30px;text-align:center;} 
.info-list-null span{background:url(../images/info.png) no-repeat left;padding-left:45px;line-height:33px;display:inline-block;}

/*attach 分页 public*/
.pad-wrap{padding:25px;text-align:right;}
.pad-wrap a{border:#c1c1c1 solid 1px;border-radius:3px;display:inline-block;padding:0px 8px;line-height:20px;margin-left:2px;box-shadow:0 -1px 1px #ffffff inset;color:#333333;vertical-align:middle;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#eeeeee));
    background: -moz-linear-gradient(top,  #fefefe,  #eeeeee);
    background: -o-linear-gradient(top, #fefefe, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee');
    background: linear-gradient(to bottom, #fefefe, #eeeeee);
}
.pad-wrap a:hover{text-decoration:none;border:#999999 solid 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#dedede));
    background: -moz-linear-gradient(top,  #fdfdfd,  #dedede);
    background: -o-linear-gradient(top, #fdfdfd, #dedede);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dedede');
    background: linear-gradient(to bottom, #fdfdfd, #dedede);
}
.pad-wrap a.on{border:#e3e3e3 solid 1px;color:#a3a3a3;cursor:default;}

/* by haibo end */

/* ajax遮罩 start */
.fs-ajax-part-mask{
    background: white;
    opacity: 0.3;
    filter:alpha(opacity=30);
}
/* ajax遮罩 end */
/*附件列表 小图标 类型*/
.fs-attach-common-icon{background:url(../images/file/common.png) no-repeat;}
.fs-attach-jpg-icon{background:url(../images/file/jpg.png) no-repeat;}
.fs-attach-png-icon{background:url(../images/file/png.png) no-repeat;}
.fs-attach-gif-icon{background:url(../images/file/gif.png) no-repeat;}
.fs-attach-doc-icon{background:url(../images/file/doc.png) no-repeat;}
.fs-attach-pdf-icon{background:url(../images/file/pdf.png) no-repeat;}
.fs-attach-rar-icon{background:url(../images/file/rar.png) no-repeat;}
.fs-attach-xls-icon{background:url(../images/file/xls.png) no-repeat;}
.fs-attach-zip-icon{background:url(../images/file/zip.png) no-repeat;}
.fs-attach-txt-icon{background:url(../images/file/txt30.png) no-repeat;}
.fs-attach-ppt-icon{background:url(../images/file/ppt.png) no-repeat;}
.fs-audio-bg-icon{background:url(../images/file/Audio.png) no-repeat;}

.fs-attach-common-small-icon{background:url(../images/file/common16.png) no-repeat;}
.fs-attach-jpg-small-icon{background:url(../images/file/jpg16.png) no-repeat;}
.fs-attach-png-small-icon{background:url(../images/file/png16.png) no-repeat;}
.fs-attach-gif-small-icon{background:url(../images/file/gif16.png) no-repeat;}
.fs-attach-doc-small-icon{background:url(../images/file/doc16.png) no-repeat;}
.fs-attach-pdf-small-icon{background:url(../images/file/pdf16.png) no-repeat;}
.fs-attach-rar-small-icon{background:url(../images/file/rar16.png) no-repeat;}
.fs-attach-xls-small-icon{background:url(../images/file/xls16.png) no-repeat;}
.fs-attach-zip-small-icon{background:url(../images/file/zip16.png) no-repeat;}
.fs-attach-txt-small-icon{background:url(../images/file/txt16.png) no-repeat;}
.fs-attach-ppt-small-icon{background:url(../images/file/ppt16.png) no-repeat;}
.fs-audio-bg-small-icon{background:url(../images/file/audio16.png) no-repeat;}


/* global tip start */
.fs-tip{
    position: relative;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    color: #999999;
    padding: 10px 10px 6px;
    -moz-box-shadow:1px 2px 2px #cccccc;
    -webkit-box-shadow:1px 2px 2px #cccccc;
    box-shadow:1px 2px 2px #cccccc;
}
.fs-tip .arrows-wrapper{
    position: absolute;
    width:0;
    height:0;
    border:8px solid;
}
.fs-tip .arrows-inner{
    position: absolute;
    width:0;
    height:0;
    border:8px solid;
}
.fs-tip .arrows-t{
    top:-16px;
    left:10px;
    border-color:transparent transparent #d1d1d1 transparent;
}
.fs-tip .arrows-t .arrows-inner{
    top:-7px;
    left:-8px;
    border-color:transparent transparent #ffffff transparent;
}

.depw-menu-aon{
    font-weight:bold;
    color:#dd4b39!important;
}/*左侧菜单高亮*/

/* form label start */
.form-label{
    cursor: pointer;
}


/* 提交按钮request状态 start */
.state-requesting{
    opacity: 0.8;
}
.icon-requesting{
    display: inline-block;
    width:16px;
    height:16px;
    margin-right: 4px;
    zoom:1;
    vertical-align: middle;
}
.icon-requesting img{
    width:16px;
    height:16px;
    background: url(../images/icon-requesting.gif) no-repeat;
    vertical-align: top;
}

/* list请求加载符 start */
.list-loading{
    text-align: center;
    padding-left: 0px;
    line-height: 30px;
    padding-top:16px;
    padding-bottom: 16px;
}
.list-loading .icon-loading img{
    width:16px;
    height:16px;
    background: url(../images/loading.gif) no-repeat;
    vertical-align: middle;
}
.list-loading .loading-text { color: #999999; }

/* list search bar */
.list-search-input-wrapper{
    position: relative;
}
.list-search-input-wrapper .empty-h{
    display: block;
    position: absolute;
    right:1px;
    top:0;
    width:20px;
    height:20px;
    line-height: 20px;
    text-align: center;
    color:red;
    cursor: pointer;
    background: #ffffff;
}
.list-search-input-wrapper .with-input-value{
    color:#333333;
}
.list-search-bar{
    padding:5px 20px;
    background: #FFFDDD;
	color: #bb861c;
	line-height: 30px;
	padding: 0 26px 0 16px;
	position: relative;
	margin-top: 16px;
	border: 1px solid #f8f3d6;
}
.list-search-bar .num {
	color: #ff0000;
	padding: 0 4px;
}
.list-search-bar .words .icon {
	background: url(../images/search_select_icon.png) no-repeat -33px 1px;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 4px;
}
.list-search-bar .btn-close {
	background: url(../images/search_select_icon.png) no-repeat -80px 0;
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	right: 10px;
}
/* list empty */
.list-empty-tip{
    display: none;
    text-align: center;
    padding: 20px 0;
}
.list-empty-tip .icon-empty{
    width:37px;
    height:33px;
    background: url(../images/info.png) no-repeat;
    vertical-align: middle;
}
.list-empty-tip .empty-text{
    vertical-align: middle;
    font-size: 14px;
}

/* label for start */
.label-for{
    vertical-align: middle;
}
.label-for label,
.label-for input,
.label-for span{
    vertical-align: middle;
    cursor: pointer;
}
.label-for label{
    color:#646464;
}
.feed-sub-list .ui-tab-items{background-color:#f5f5f5;border:#d8d8d8 solid 1px;border-radius:0 0 3px 3px;border-top:none;}
.feed-sub-list .ui-tab-items .ui-tab-item a{height:32px;line-height:32px;}

/* textarea auto size,from http://www.jacklmoore.com/autosize/ */
textarea{
    font-family: inherit;
    line-height: 1.5em;
}
.autosize-animated{
    /*-webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;*/
}

/* placeholder start */
.placeholder{
    color:#aaaaaa ! important;
}
.feed-list-pagination{padding-bottom:30px;}


/* From tpl-portal.css */

.department .department-wrapper{
    padding-bottom:15px;

}
.department .department-wrapper .search-inp {
    /*color: #424242;*//*注释掉的原因是因为搜素框默认的颜色应该是灰色，如果输入后显示黑色的话要通过keyup事件添加一个with-input-value的样式，不要改这个样式。因为会产生bug1511*/
}

.home-center-list{position:relative;}
.home-center-list .search-wrap{position:absolute;top:15px;right:16px;z-index:10;}

.department h1.depw-title{font-size:25px;padding:10px 16px 0;position:relative;}
.department h1.depw-title .star-big {position: absolute; right: 25px; top: 19px;}
.department h1.user-center-info-wrap .star-big {position: absolute; right: 40px!important; top: 53px!important;}
.department h2.depw-title{font-size:16px;padding:16px 16px 0px;position:relative;}
.department h2.depw-title .star-big {position: absolute; right: 32px; top: 25px;}
.department h2.depw-title button{position:absolute;right:20px;top:10px;}
.department h2.depw-title a{position:absolute;right:16px;top:45px;font-size:13px;}
.department p.depw-text{line-height:20px;padding:5px 16px;height:32px;}
.department .depw-menu{border:#ebebeb solid 1px;border-width:1px 0px;background-color:#f5f5f5;padding-left:16px;}
.department .depw-menu li{float:left;margin-right:20px;line-height:32px;}
.department .depw-menu li a{font-size:14px;color:#666666;}
.depw-menu-aon{font-weight:bold;color:#dd4b39!important;}
.border-top-none{border-top-width:0px!important;*overflow:hidden;*height:0;}
.department .depw-tabs{line-height:30px;padding-bottom:10px;position:relative;margin:0 16px;}
.department .depw-tabs .search-wrap{position:absolute;top:-1px;right:0px;}
.department .depw-tabs div{_padding:7px 0;}
.department .plan-wrapper,
.department .approve-wrapper,
.department .work-wrapper,
.department .share-wrapper{
    display: none;
}
a.depw-tabs-a{color:#0082cb;line-height:20px;-webkit-height:22px;padding:0 4px;display:inline-block;margin-right:5px;}
@media screen and (-webkit-min-device-pixel-ratio:0){
    a.depw-tabs-a{color:#0082cb;line-height:20px;height:22px;padding:0 4px;display:inline-block;margin-right:5px;}
}
a.depw-tabs-a:hover{color:#ffffff;background-color:#0082cb;text-decoration:none;}
a.depw-tabs-aon{color:#ffffff;background-color:#0082cb;}

/* home right start by haibo */
.home-right-content{}
.home-right-content h4.rightc-title{position:relative;line-height:40px;height:40px;padding-left:16px;background-color:#fafafa;border-bottom:#e1e1e1 solid 1px;}
.home-right-content h4.rightc-title span.rt-apv{position:absolute;top:0;right:16px;}
.home-right-content p.rightc-headimg{padding-top:16px;padding-left:16px;}
.home-right-content p.rightc-headimg img{width:35px;height:35px;margin:1px 1px 0 0;vertical-align:middle;}
.home-right-content .rightc-morelink{padding:16px;}
.home-right-content .hbot-bnone{border-bottom:none;}
.home-right-content .rightc-fontlist{padding:16px;}
.home-right-content .rightc-fontlist li{margin-top:5px;}
.home-right-content .rightc-fontlist li a{color:#333333;}
.home-right-content .rightc-fontlist li a:hover{text-decoration:none;}
.home-right-content .rightc-fontlist li input{vertical-align:middle;margin-right:5px;}

.home-right-content .right-archive-list{line-height:25px;height:25px;padding-left:3px;zoom:1;}
.home-right-content .right-archive-list:hover{background-color:#f1f1f1;cursor:pointer;}
.right-archive-text{width:85px;height:20px;line-height:20px;border:#6b7e8f solid 1px;vertical-align:inherit !important;position:absolute;top:0;left:0;_top:1px;}
.right-archive-label,.right-archive-title{position:relative;}
.right-archive-label{line-height:normal;}
.right-archive-label .tag-actions{position:absolute;top:0;right:3px;}
.right-archive-label button{width:34px;height:23px;line-height:23px;padding:0;}
button.rarchive-btn-save{margin-right:3px;}
button.rarchive-btn-cancel{border:#c1c1c1 solid 1px;_height:20px;_line-height:20px;}

.right-archive-control{position:absolute;top:0;right:3px;*line-height:normal;}


.home-right-content .rightc-qa{padding:16px;line-height:20px;}
.home-right-content .rightc-qa strong{padding-left:17px;background:url(../../assets/images/tipinfo.png) no-repeat left;font-weight:normal;}

.home-right-content .rightc-worklist{padding:5px 0;}
.home-right-content .rightc-worklist li{margin-top:5px;position:relative;}
.home-right-content .rightc-worklist li span.rwl_date{position:absolute;right:0;top:0;color:#b2b2b2;}

.home-right-content .rightc-listwrap{border-bottom:#eee dotted 1px;padding-bottom:10px;margin-bottom:10px;}
.home-right-content .rightc-listwrap:last-child{border-bottom:none;margin-bottom:0px;padding-bottom:0px;}
.home-right-content .rightc-listwrap .rlist-headimg-wrap{float:left;margin-right:5px;display:block;width:26px;height:26px;}
.home-right-content .rightc-listwrap .rlist-headimg-wrap img.rlist-headimg{width:26px;height:26px;}
.home-right-content .rightc-listwrap .rlist-pname{position:relative;line-height:16px;}
.home-right-content .rightc-listwrap .rlist-pname a{display:inline-block;width:70px;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;height: 16px;line-height:16px;white-space:nowrap;}
.home-right-content .rightc-listwrap .rlist-pname .rlist-pname-apvdate{position:absolute;right:0;_right:30px;top:0;color:#b2b2b2;}
.home-right-content .rightc-listwrap a.rlist-atext{display:block;width:250px;overflow:hidden;_float:left;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;}

/* home right end */
.ui-dialog .fs-publish-upload-item-inner .summary .file-name{width:80px;}

/*LEFT 工作状态*/
/*
.online-status-wrap{position:relative;padding-left:10px;padding-bottom:16px;margin-bottom:16px;border-bottom:#e8e8e8 solid 1px;}

.online-status-wrap .online-status-text{display:inline-block;width:11em;height:26px;line-height:26px;border:#ffffff solid 1px;border-radius:3px 0 0 3px;text-align:left;padding-left:5px;color:#333;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.online-status-wrap .online-status-drop{width:18px;height:28px;border:#ffffff solid 1px;border-radius:0 3px 3px 0;border-left:none;background:url(../../assets/images/home-icons.png?1) no-repeat -90px -58px;vertical-align:middle;}

.online-status-border input,.online-status-border button{border:#dddddd solid 1px !important;}
.online-status-border button{border-left:none !important;}

.online-status-wrap .online-status-list{position:absolute;top:30px;left:10px;width:156px;border:#dddddd solid 1px;box-shadow:1px 1px 3px #c1c1c1;background-color:#ffffff;}
.online-status-wrap .online-status-list a{display:block;height:20px;line-height:20px;padding-left:5px;color:#666666;text-align:left;} 
.online-status-wrap .online-status-list a:hover{background-color:#eeeeee;color:#000000;text-decoration:none} 
*/

.two-code-wrap{text-align:left;padding:40px 0 0 10px;display:none;}
.two-code-wrap img.two-code-img{margin:10px 0;vertical-align:middle;}

.right-apv-wrapper{position:fixed;right:0;top:180px;z-index:11;
    _position:absolute;
    _right:expression(eval(document.documentElement.scrollRight));
    _top:expression(eval(document.documentElement.scrollTop + 180));
}

.right-apv-wrapper img{vertical-align:middle;margin-bottom:5px;}

/*使用方法*/
.r-use-help-wrap{padding:16px;}
.r-use-help-wrap a.r-use-help-text{display:block;line-height:20px;background:#ffffff url(../../assets/images/r-video-icon.png) no-repeat 0px 6px;padding-left:25px;}
.r-use-help-wrap a.r-use-help-text:hover{color:#444444;text-decoration:none;}

/* confirm and alert start */
.fs-confirm .icon-flag,
.fs-alert .icon-flag{
    width:37px;
    height:33px;
}
.fs-confirm .icon-info,
.fs-alert .icon-info{
    background:url(../images/info.png);
	float:left;
}
.fs-confirm .icon-question{
	background:url(../images/question.png);
	float:left;
	height:40px;
    width:25px;
}
.fs-confirm .ui-dialog-message img,
.fs-alert .ui-dialog-message img{
    vertical-align: middle;
}
.fs-confirm .ui-dialog-container,
.fs-alert .ui-dialog-container{padding-bottom:10px;}
.fs-alert .ui-dialog-container,.fs-confirm .ui-dialog-container{padding-right:10px;}
.fs-confirm .ui-dialog-message{font-size:14px;padding-top:5px;}
.fs-confirm .ui-dialog-message .message-content{margin-left:50px;display:block;}
.fs-confirm .ui-dialog-message .undefined .message-content{margin-left:0px;}
.fs-confirm .ui-dialog-operation{text-align:right;}
.fs-confirm .ui-dialog-operation .ui-dialog-button-orange,
.fs-alert .ui-dialog-operation .ui-dialog-button-orange{
	padding: 0 15px;font-weight:normal;
	color:#ffffff;border:#cae381 solid 1px;cursor:pointer;background-color:#66BB55;*border:none;background-image:none;box-shadow:none;
	/*box-shadow:1px 1px 0px #98d67b inset,-1px -1px 0px #98d67b inset;
	background: -webkit-gradient(linear, left top, left bottom, from(#76c955), to(#66b540));
    background: -moz-linear-gradient(top,  #76c955,  #66b540);
    background: -o-linear-gradient(top, #76c955, #66b540);
    background: linear-gradient(to bottom, #76c955, #66b540);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c955', endColorstr='#66b540');
    _background-color:#66b540;*/
}
.fs-confirm .ui-dialog-operation .ui-dialog-button-orange:hover,
.fs-alert .ui-dialog-operation .ui-dialog-button-orange:hover{opacity:0.8;filter:alpha(opacity=80);}
.fs-confirm .ui-dialog-operation .ui-dialog-button-white{
	padding:0 15px;cursor:pointer;font-weight:normal;
	color:#000000;border:#e2e2e2 solid 1px;border-radius:0px;background-color:#fff;background-image:none;box-shadow:none;
	/*box-shadow:1px 1px 0px #ffffff inset,-1px -1px 0px #ffffff inset;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dddddd));
    background: -moz-linear-gradient(top,  #f5f5f5,  #dddddd);
    background: -o-linear-gradient(top, #f5f5f5, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dddddd');
    background: linear-gradient(to bottom, #f5f5f5, #dddddd);
    _background-color:#dddddd;*/
}
.fs-confirm .ui-dialog-operation .ui-dialog-button-white:hover{opacity:0.8;filter:alpha(opacity=80);}

.fs-alert .ui-dialog-operation{text-align:right;}
.fs-alert .message-content{font-size:14px;
    word-wrap: break-word;
}

/* confirm and alert end */
.profile-remind{display:block;background-color:#FFFDDD;border:#eee4aa solid 1px;border-radius:2px;color:#996600;padding-left:15px;line-height:26px;margin-top:16px;}

/* 服务器错误提示 start */
#fs-service-error, #fs-upgrade-tip{
    position: fixed;
    _position:absolute;
    top:0;
    left:50%;
    padding:8px 20px;
    background: #e0000e;
    z-index: 100;
    color:#ffffff;
}
#fs-upgrade-tip {
	background: #69BA5A;
	padding-right: 30px;
	top: -35px;
	padding-left: 15px;
}
#fs-upgrade-tip img {
	margin-right: 5px;
}
#fs-upgrade-tip .btn-refresh {
	color: #2F5429;
}
#fs-service-error .close-btn, #fs-upgrade-tip .close-btn{
    position: absolute;
    right:4px;
    top:0px;
    cursor: pointer;
}
#fs-upgrade-tip .close-btn {
	right: 10px;
}
/* 服务器错误提示 end */

/* guide提示框start */
.fs-guide-left-bracket,
.fs-guide-right-bracket{
    width:11px;
    position: absolute;
    z-index: 100;
}
.fs-guide-left-bracket{
    -moz-box-shadow:4px 2px 4px 0 #CCCCCC inset;
    -webkit-box-shadow:4px 2px 4px 0 #CCCCCC inset;
    box-shadow:4px 2px 4px 0 #CCCCCC inset;
    border:5px solid #ff9600;
    border-right: none;
}
.fs-guide-right-bracket{
    -moz-box-shadow:4px 2px 4px #cccccc;
    -webkit-box-shadow:4px 2px 4px #cccccc;
    box-shadow:4px 2px 4px #cccccc;
    border:5px solid #ff9600;
    border-left: none;
}
.fs-guide-shadow-link{  /* ie下影子链接不可点击，需要透明背景 */
    background: url(../images/clear.gif) no-repeat;
}
/* guide提示框end */

.feed-list .fs-feed-item{background-color:#fff;}
.tpl-l .group-list,.tpl-l .files-nav-list{padding-bottom:16px;}
.tpl-l .group-list {
	border-bottom:#e8e8e8 solid 1px;
}
.stream .group-list{
    padding-top:16px;
    border-top:#e8e8e8 solid 1px;
}
.tpl-l .group-list .depw-menu-firstaon{padding-left:16px;}

.tutorials-video-wrap{background-color:#fff;padding: 0 16px 22px;}
.tutorials-video-wrap .tv-title{
    padding-bottom:10px;
}
.tutorials-video-wrap .tv-btn {
    padding: 12px 0;
    border: 1px solid #EBEBEB;
    background-color: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.tutorials-video-wrap .tv-btn a {
    display: block;
    width: 80px;
    height: 24px;
    margin: 0 auto;
    background:url(../../assets/images/home-icons.png?1) no-repeat -51px -119px;
}
.tutorials-video-wrap .tv-btn a:hover{
    background-position: -51px -90px;
}
.tutorials-video-wrap .tv-btn-active a {
    background-position: -51px -90px;
}

/* 底部和顶部停靠 */

.fixed-bottom{
    position: fixed ! important;
    bottom:0 ! important;
    top:auto ! important;
}
.fixed-top{
    position: fixed ! important;
    top:0 ! important;
    bottom:auto ! important;
}
.home-right-content .rq-user-help{padding:12px 16px;line-height:25px;color:#646464;}

/* 清除弹框里feedList border */
.ui-dialog .fs-feed-item{
    border:none;
    border-bottom: 1px solid #dddddd;
}


::-webkit-scrollbar {
    width: 8px;
    background: #eee;
    height: 8px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
  
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;  
}
::-webkit-scrollbar-thumb:window-inactive {  
    background: rgba(0,0,0,0.3);   
} 
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{  
    background-color: rgba(0,0,0,0.5);  
} 

::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #eee;
}

body::-webkit-scrollbar-track-piece:horizontal {
    background-color: #eee;
}

body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #eee;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14);
}
/*ie7 thead边框丢失问题 */
.border-top{
    *border-top: solid 1px #d8d8d8;
}

/*星标样式*/
.star-small {
    display: block;
    width: 13px;
    height: 12px;
    background: url(../../assets/images/five_star.png) no-repeat -18px 0;
    overflow:hidden;
    cursor: pointer;
}
.star-small-active {
    background-position: 0 0;
}
.star-big {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../../assets/images/star_big.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.star-big-active {
    background-position: 0 -20px;
}









