.datamanage-tit{
    font-size: 16px;
    color: #333;
    border-bottom:#cccccc dotted 1px;
    height: 68px;
    line-height: 68px;
    font-weight: bold;
    margin: 0 24px;
}
.datamanage-content{
    margin: 0 24px;
    margin-top: 20px;
}
.datamanage-form .form-input-text{
    width: 190px;
    height: 30px;
    border: solid 1px #ddd;
    vertical-align: middle;
    font-size: 13px;
    color: #999;
    line-height: 30px;
    padding-left: 10px;
    vertical-align: middle;
}
.datamanage-form .form-button{
    margin-left: 10px;
    height: 32px;
    vertical-align: middle;
}
.datamanage-form-tipinfo{
    color: #FF0000;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 14px;
}
/** 
 * 兼容chorme
 * 输入框光标位置和黄色边框
 * 这段放到最后面
 * Class名称要保持一致才会重置到样式 
 **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .datamanage-form .form-input-text  {
    line-height: 15px;
    outline: none;
}