/*
 * @Author: AnThen
 * @Date: 2017-08-16 17:05:11
 * @Last Modified by: AnThen
 * @Last Modified time: 2017-08-18 11:07:58
 */
/*主色，以main开头*/
$main1: #009688;
$main2: #4db6ac;
$main3: #00796b;
/*辅助色*/
$info: #2196f3;
$success: #4caf50;
$danger: #f44336;
$warning: #e67e22;
/*图表类配色，以chart开头*/
$chartBlue: #90caf9;
$chartBlueLight: #81d4fa;
$chartRed: #ff5252;
$chartRedLight: #ef9a9a;
$chartOrange: #ffb74d;
$chartOrangeLight: #ffcc80;
$chartGreen: #81c784;
$chartGreenLight: #a5d6a7;
$chartGreenDarken: #4db6ac;
$chartGreenDarkenLight: #80cbc4;
$chartPurple: #ce93db;
$chartPurpleLight: #e1bee7;
$chartPurpleDarken: #9fabda;
$chartPurpleDarkenLight: #b39ddb;
$chartPink: #f48fb1;
$chartPinkLight: #f8bbd0;
$chartYellow: #ffcc00;
$chartYellowLight: #fce68d;
$chartBlue: #4dd0e1;
$chartBlueLight: #80deea;
/*中性色*/
$black: #000000;
$grey: #999999;
$greyMedium: #666666;
$greyDarken: #333333;
$grayBrighten: #e7e7e7;
$grayLight: #cccccc;
$silveryBrighten: #f5f5f5;
$white: #ffffff;
$blueMedium: #37474f;
$blueLight: #6d828c;
$back: #212121;
/*边框颜色*/
$grayBrighten15: #ebedf2;
