/**
 * 纷享页面样式
 * @Author: 纷享网页前端部
 * @Date: 2014-09-02
 */

.manageslogs-tit{font-size:16px;color:#333;border-bottom:#ccc dotted 1px;height:68px;line-height:68px;font-weight:700;margin:0 24px}.manageslogs-content{margin:0 24px;margin-top:20px}.manageslogs-table{width:100%}.manageslogs-table thead{background:#f1f1f1}.manageslogs-table th{border:solid 1px #E1E2E4;padding:10px;border-left:0;border-right:0}.manageslogs-table td{border:solid 1px #E1E2E4;padding:10px;border-left:0;border-right:0;background:#fff}.manageslogs-table-gray{color:#999;vertical-align:top}.manageslogs-table-content{word-wrap:break-word;word-break:break-all}.manageslogs-pagination{padding:10px 0 50px}@media screen and (-webkit-min-device-pixel-ratio:0){.exmails-form .form-input-text{line-height:15px;outline:0}}