@import "@/styles/common.scss";

.give-vip-content{
    width: 96%;
    overflow: hidden;
    margin: 0 auto;
    .el-col{
        font-size: 13px;
        margin-bottom: 20px;
        .el-select,.el-date-picker{
            width: 100%;
        }
        &.right{
            text-align: right;
            padding-right: 5px;
        }
    }
}

.system-notice{
    h1{
        font-size: 18px;
        color: #333;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    p{
        color: #666;
        font-size: 13px;
        line-height: 24px;
        text-indent: 2em;
        margin-bottom: 10px;
    }
}
