.settings{
	
}

.settings-wraper{width:770px;margin:0 auto;min-height:960px;}
.settings-wraper .swtab-list{border-bottom:#cccccc solid 1px;margin-top:20px;padding-left:20px;}
.settings-wraper .swtab-list li{float:left;margin-right:5px;}
.settings-wraper .swtab-list li a{display:block;_display:inline-block;border:#e1e1e1 solid 1px;border-bottom:#cccccc solid 1px;border-radius:2px 2px 0 0;padding:0 8px;line-height:30px;margin-bottom:-1px;zoom:1;
background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#efefef));
background: -moz-linear-gradient(top,  #fdfdfd,  #efefef);
background: -o-linear-gradient(top, #fdfdfd, #efefef);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#efefef');
background: linear-gradient(to bottom, #fdfdfd, #efefef);
}
.settings-wraper .swtab-list li a.swtab-item-aon{text-decoration:none;color:#000000 ! important;border:#cccccc solid 1px;border-bottom:#ffffff solid 1px;
background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fdfdfd));
background: -moz-linear-gradient(top,  #f1f1f1,  #fdfdfd);
background: -o-linear-gradient(top, #f1f1f1, #fdfdfd);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#fdfdfd');
background: linear-gradient(to bottom, #f1f1f1, #fdfdfd);	
}

.settings-wraper .sw-main{padding:15px 0;margin-left: 32px;}
.settings-wraper .sw-main dl{margin-top:20px;}
.settings-wraper .sw-main dt,
.settings-wraper .sw-main dd{float:left;}
.settings-wraper .sw-main dt{width:80px;text-align:right;font-size:14px;}
.settings-wraper .sw-main .sw-main-item{}
.settings-input,.settings-textarea{font-size:14px;}
.settings-input{width:214px;height:28px;line-height:28px;border:#e4e4e4 solid 1px;border-radius:0px;padding:0 4px;color:#959595;*vertical-align:middle;}
.settings-input-on{border:#a5c760 solid 1px;background-color:#f4ffd4;}
.settings-input-onerror{border:#ff0000 solid 1px;background-color:#ffcccc;}
.settings-textarea{width:214px;height:64px;border:#999999 solid 1px;border-radius:3px;padding:3px 4px;color:#000000;vertical-align:top;}
.settings-input-prompt{background-color:#f4ffd4;line-height:26px;padding:0 8px;margin-left:4px;display:inline-block;border-radius:3px;}
.settings-input-error{background:#ffdbdb url(../../assets/images/error.png) no-repeat 5px 7px;line-height:26px;padding:0 8px 0 25px;margin-left:4px;display:inline-block;border-radius:3px;}
.s-sex-wraper{margin-right:20px;font-size:14px;}
.s-sex-wraper input{vertical-align:middle;}
#settings-resetpassword .pwd-space{display:inline-block;width:7px;}

.save-success-wraper{position:relative;overflow:hidden;height:54px;bottom:40px;margin-left:55px;}
.save-success-apv{width:75px;height:44px;line-height:44px;border:#dfdfdf solid 5px;padding-left:35px;position:absolute;left:20px;top:54px;background:url(../../assets/images/dot_r.png) no-repeat 15px 16px;}

.resetpassword-form .settings-input-prompt{font-size:12px;}/*20131017 by haibo*/

.guides-remind .list-empty-tip{text-align:left;padding:70px 0 0 60px;}
.ieci-red-remind{color:#F00;}
.inviteemployeecomplateinfo .list-empty-tip .icon-empty{background:none;height:27px;width:39px;}
#inviteemployeecomplateinfo .pwd-space{display:inline-block;width:7px;}