@import "../base";
body{
  padding-top:41px;
  padding-bottom:57px;
}
.shopcart-tips{
  li{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #cbaf7d;
  }
}


.shopcart-list{
  @at-root .shopcart-list-hd{
    height: 38px;
    @include flex-display;
    @include flex-align-items(center);
    .tete-tick{
      display: block;
      margin-left: 15px;
      margin-right: 26px;
    }
    .shopcart-list-shop{
      height: 37px;
      @include flex(1);
      @include flex-display;
      @include flex-align-items(center);
      @include border-b();
      .shopcart-shop-icon{
        width:15px;
        height: 13px;
        @include background-image('../../img/ui/common/tete_shop.png');
        background-size: cover;
      }
      p{
        color: #333;
        font-size: 14px;
        margin-left: 5px;

      }
    }
  }
  @at-root .shopcart-list-bd{
    @include border-b(#bdc0c5);
  }
}


.shopcart-single-list{
  height: 78px;
  @include flex-display;
  @include flex-align-items(center);
  .tete-tick{
    display: block;
    margin-left: 15px;
    margin-right: 26px;
  }
  img{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .shopcart-single-right{
    @include flex(1);
    box-sizing: border-box;
    padding-right: 15px;
  }
}
.shopcart-single-right-top{
  height: 38px;
  @include flex-display;
  .single-list-title{
    @include flex(1);
    line-height: 19px;
    @include multi-text(2);
    font-size: 13px;
    color:#333;
  }
  .single-list-num{
    line-height: 38px;
    font-size: 15px;
    margin-left: 15px;
    color:#333;
  }
}
.shopcart-single-right-bottom{
  height: 22px;
  @include flex-display;
  @include flex-align-items(center);
  @include flex-justify-content(space-between);
  .single-list-calc{
    @include flex-display;
    .minus{
      display: block;
      height: 20px;
      border: 0;
      color: #666;
      border-top: 1px solid #d9d9d9;
      border-bottom:1px solid #d9d9d9;
      border-left:1px solid #d9d9d9;
      width: 27px;
      background: #fff;
      line-height: 20px;
      text-align: center;
    }
    .plus{
      color: #666;
      display: block;
      height: 20px;
      width: 27px;
      line-height: 20px;
      text-align: center;
      border:0;
      border-top: 1px solid #d9d9d9;
      border-bottom:1px solid #d9d9d9;
      border-right:1px solid #d9d9d9;
      background: #fff;
    }
    input{
      display: block;
      -webkit-appearance: none;
      border-radius: 0;
      border: 1px solid #d9d9d9;
      font-size: 12px;
      height: 20px;
      width: 27px;
      text-align: center;
      line-height: 22px;

      padding:0;
      margin:0;
      background: #fff;
    }
  }
  .single-list-delete{
    width: 14px;
    height: 15px;
    display: block;
    @include background-image('../../img/ui/common/delete.png');
  }
}

.shopcart-list-ft{
  height: 32px;
  @include flex-display;
  @include flex-justify-content(flex-end);
  line-height: 32px;
  box-sizing: border-box;
  padding-right: 15px;
  @include border-b(#bdc0c5);
  p{
    font-size:13px;
    color: #333;
  }
  span{
    font-size:13px;
    color: #ff5a00;
  }
  .mr15{
    margin-right: 15px;
  }
}
.shopcart-alls-list{
  margin-bottom:60px;
}
.shopcart-all-count{
  height: 60px;
  @include border-t(#bdc0c5);
  width: 100%;
  max-width: 720px;
  padding:0px 5px 0px 15px;
  box-sizing: border-box;
  position: fixed;
  background: #fff;
  bottom:0;
  @include flex-display;
  @include flex-align-items(center);
  @include flex-justify-content(space-between);
  background: #fff;
  @at-root .shopcart-all-left{
    @include flex-display;
    @include flex-align-items(center);
    margin-top:15px;
    margin-bottom: 5px;
  }
  .tete-tick{
    margin-right: 10px;
  }
  .all-info{
    margin-right:20px;
    color: #333;
    font-size: 13px;
  }
  .all-items-price{
    font-size: 13px;
    color: #333;
    span{
      font-size: 12px;
    }
  }
  .go-count{
    color:#fff;
    float:right;
    width: 94px;
    background: #ff5a00;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    margin-top:15px;
    margin-bottom: 5px;
  }

}