// border
$border-radius-base: 2px;
$border: solid 1px #e1e1e1;

// shadow
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);

// font
$font-size-base: 12px;
$font-size-large: 14px;
$font-size-huge: 16px;

// icon
$font-icon-size-base: 14px;
$font-icon-size-large: 20px;
$font-icon-size-huge: 32px;

// layout
$headerHeight:56px;
$leftWidth:216px;
$marginWidth:24px; //通用边距宽度
