.notice-item-warp {
    border: none;
    /*margin: 18px; border-bottom: dashed 1px #EBEBEB; padding-bottom: 16px;*/
}

.notice-item-warp .item-face {
    float: left;
    width: 45;
    position: relative;
}

.fs-list-item .img-new {
    top: -4px;
    right: -9px;
    position: absolute;
    width: 17px;
    height: 14px;
    display: block;
    background: url(../../assets/images/new.gif);
}

.notice-item-warp .item-info {
    margin-left: 60px;
}

.notice-item-warp .item-face .item-face-img {
    display: block;
    width: 45px;
    height: 45px;
    background: url("../../assets/images/notice_ico.gif") no-repeat scroll -2px -2px rgba(0, 0, 0, 0);
}

.notice-item-warp.notice-re .item-face .item-face-img {
    background: url(../../assets/images/notice_ico.gif) no-repeat;
    background-position: 0 -55px;
}

.notice-item-warp .item-detail {
    color: #444;
    word-break: break-all;
}

.notice-item-warp .item-detail .noticetypetit {
    font-size: 14px;
    height: 24px;
}

.notice-item-warp .item-detail .noticetitle {
    font-size: 14px;
    margin-top: 6px;
}

.notice-item-warp  .noticetypetit-l {
    color: #449EC6;
    font-size: 14px;
}

.notice-item-warp.notice-re  .noticetypetit-l {

    color: #45AA4A;
}

.notice-item-warp  .noticetypetit-r {
    color: #999;
    font-size: 13px;
}

.notice-item-warp .item-detail .myreply-content {
    font-family: "宋体",serif;
    margin-top: 20px;
}

.notice-item-warp .item-text {
    font-size: 14px;
}

.notice-item-warp .item-text .content {
    white-space: pre-line;
}

/* 图片和附件*/
.notice-item-warp .item-media {
    margin-top: 10px;
}

.notice-item-warp .item-media img {
    cursor: pointer;
}

.notice-item-warp .item-media .pic-num {
    margin: 2px 0 0 42px;
    color: #999;
}

.notice-item-warp .item-media .feedpics-bor {
    position: relative;
    height: 120px;
}

.notice-item-warp .item-media .img-warp {
    text-align: center;
    width: 150px;
    height: 112px;
    background: #fff;
    padding: 3px;
    border: #949494 solid 1px;
}

.notice-item-warp .item-media .img-warp td {
    width: 150px;
    height: 112px;
}

.notice-item-warp .item-media .feed-files {
    border-top: dotted 1px #ccc;
    border-bottom: dotted 1px #ccc;
    border-left: solid 1px #A7C7F7;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 0px;
}

.notice-item-warp .feed-files dl {
    width: 218px;
    margin-right: 8px;
    float: left;
    padding-bottom: 10px;
}

.notice-item-warp .feed-files dl dt {
    float: left;
}

.notice-item-warp .feed-files dl dd {
    margin-left: 38px;
    word-wrap: break-word;
    word-break: break-all;
}

.notice-item-warp .feed-files dl dd a {
    color: #0082CB;
}

.notice-item-warp .feed-files dl dd a.v {
    margin-left: 10px;
}

.notice-item-warp .item-func {
    color: #666;
    margin-top: 22px;
    position: relative
}